.menu-page {
  overflow: hidden;
  .filters {
    margin-bottom: 2em;
    form.inline-form {
      @include flexer(space-between, center);
      .form-group {
        &:nth-child(1) {
          width: 15%;
        }
        &:nth-child(2) {
          width: 70%;
        }
        &:nth-child(3) {
          width: 10%;
        }
        select {
          padding: 0.6em 1em;
          border: 0;
          background-color: var(--grey);
          border-radius: 6px;
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        .seeall {
          button {
            border: 0;
            background-color: transparent;
            font-size: 0.8em;
          }
        }
        &.inline-group {
          // width: 80%;
          @include flexer(flex-end, center);
          gap: 1em;
          &::-webkit-scrollbar {
            display: none;
          }
          .form-item {
            margin-left: 1em;
            .filter {
              display: none;
            }
            .filter.check + label {
              background-color: var(--primary-color);
              color: var(--white);
              svg {
                stroke: var(--white);
              }
            }
            .cust-checkbox {
              background-color: transparent;
              border: 1px solid var(--primary-color);
              border-radius: 10px;
              min-width: 140px;
              @include flexer(center, center);
              svg {
                stroke: var(--color-ac);
                transition: 0.4s;
                margin-right: 1em;
              }
              color: var(--color-ac);
              span {
                white-space: nowrap;
              }
            }
          }
        }
        .accordion {
          text-align: right;
        }
      }
    }
  }

  .accordion-collapse {
    margin-bottom: 2em;
    .accordion-body.inline-group {
      padding: 0;
      @include flexer(flex-start, center);
      flex-wrap: wrap;
      gap: 1em;
      &::-webkit-scrollbar {
        display: none;
      }
      .form-item {
        .filter {
          display: none;
        }
        .filter.check + label {
          background-color: var(--primary-color);
          color: var(--white);
          svg {
            stroke: var(--white);
          }
        }
        .cust-checkbox {
          background-color: transparent;
          border: 1px solid var(--primary-color);
          border-radius: 10px;
          min-width: 140px;
          @include flexer(center, center);
          svg {
            stroke: var(--color-ac);
            transition: 0.4s;
            margin-right: 1em;
          }
          color: var(--color-ac);
          span {
            white-space: nowrap;
          }
        }
      }
    }
  }

  .menu-row {
    .menu-item {
      display: block;
      color: var(--black);
      position: relative;
      transition: 0.3s;
      figure {
        margin: 0;
        border-radius: 5px;
        overflow: hidden;
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          transition: 0.4s;
        }
      }
      .veg-no {
        position: absolute;
        top: 4%;
        right: 4%;
        .veg {
          fill: var(--green);
        }
        .nonveg {
          fill: var(--red);
        }
      }
      .menu-infos {
        text-align: center;
        margin: -2em auto 0.5em;
        background-color: var(--white);
        width: 80%;
        padding: 1em;
        position: relative;
        z-index: 1;
        border-radius: 5px;
        transition: 0.4s;
        h3 {
          font-size: 1em;
          font-weight: $font-medium;
        }
        .select-size {
          margin: 1em 0;
          @include flexer(space-between, center);
          .size-item {
            border-radius: 5px;
            background-color: var(--grey);
            color: var(--color-ac);
            font-size: 0.8em;
            overflow: hidden;
            input {
              display: none;
            }
            label {
              display: inline-block;
              padding: 0.5em;
              &:hover {
                background-color: var(--primary-color);
                color: var(--white);
              }
            }
          }
        }
      }
      .price {
        h2 {
          font-size: 1.5em;
          color: var(--color-ac);
          font-weight: $font-bold;
          text-align: center;
          transition: 0.4s;
        }
      }
      &:hover {
        figure {
          img {
            transform: scale(1.2);
          }
        }
        .veg-no {
          display: none;
        }
        .menu-infos {
          background-color: var(--black);
          h3 {
            color: var(--white);
          }
        }
        .price {
          h2 {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
