.oderhistory-page {
  .order--title {
    h3 {
      font-weight: $font-bold;
    }
  }

  .order-table {
    margin: 2em 0;
    border-top: 1px solid var(--black);
    @include lg {
      overflow-x: auto;
    }
    table {
      margin: 1em 0;
      width: 100%;
      @include lg {
        width: 1024px;
      }
      tr {
        th,
        td {
          padding: 0.5em;
          font-weight: $font-medium;
        }
        th {
          color: #000;
        }
      }
      tbody {
        tr {
          &:nth-child(odd) {
            background-color: var(--color-c4);
          }
        }
      }
    }
  }
}

.order-detail {
  .order-date {
    margin-top: 2em;
    span {
      font-size: 1.2em;
      font-weight: $font-medium;
    }
  }
  .order-card {
    background-color: var(--grey);
    padding: 2em;
    border-radius: 24px;
    margin-top: 1em;
    .status {
      margin-bottom: 1em;
      padding-left: 2em;
      font-weight: $font-medium;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        height: 0.8em;
        width: 0.8em;
        background-color: #70b01b;
        border-radius: 50%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .order-row {
    @include flexer(space-between, flex-start);
    flex-wrap: wrap;
    .order-action {
      width: 30%;
      @include xl {
        width: 24%;
      }
      @include lg {
        width: 100%;
        margin-top: 2em;
      }
      a {
        display: block;
        width: 100%;
        &:first-child {
          margin-bottom: 1em;
        }
      }
    }
    .order-items {
      width: 68%;
      @include flexer(space-between, flex-start);
      flex-wrap: wrap;
      gap: 1em;
      @include xl {
        width: 74%;
      }
      @include lg {
        width: 100%;
      }
      .item {
        width: 48%;
        @include flexer(space-between, flex-start);
        @include xl {
          flex-wrap: wrap;
        }
        @include sm {
          width: 100%;
          border-bottom: 1px solid var(--black);
          padding-bottom: 1em;
        }
        .img {
          width: 24%;
          figure {
            margin: 0;
            border-radius: 8px;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
        }
        .desc {
          width: 70%;
          .title {
            h4 {
              font-size: 1em;
              font-weight: $font-bold;
              span {
                background-color: var(--primary-color);
                color: var(--black);
                border-radius: 8px;
                padding: 0.4em 0.6em;
                font-size: 0.7em;
              }
            }
          }
          .bl {
            padding-right: 2em;
            position: relative;
            &::after {
              position: absolute;
              content: "";
              height: 50%;
              width: 1px;
              background-color: var(--black);
              top: 50%;
              transform: translateY(-50%);
              left: calc(100% - 1em);
            }
          }
          .feat {
            display: flex;
            strong {
              font-size: 0.8em;
            }
          }
          .toppings {
            display: flex;
            .itm {
              a {
                font-size: 0.7em;
                color: var(--black);
              }
              .dropdown-menu {
                li {
                  font-size: 0.7em;
                  padding: 0 0.5em;
                }
              }
            }
          }
        }
      }
    }
  }
}
