.oderhistory-page {
  .order--title {
    h3 {
      font-weight: $font-bold;
    }
  }

  .order-table {
    margin: 2em 0;
    border-top: 1px solid var(--black);
    table {
      margin: 1em 0;
      width: 100%;
      tr {
        th,
        td {
          padding: 0.5em;
          font-weight: $font-medium;
        }
        th {
          color: #000;
        }
      }
      tbody {
        tr {
          &:nth-child(odd) {
            background-color: var(--color-c4);
          }
        }
      }
    }
  }
}
