.page--pizza {
  .cart {
    background-color: transparent;
    margin-top: 1.3em;
    min-width: auto;
    label {
      margin-bottom: 0.7em;
    }
    .form-group {
      margin-bottom: 3em;
    }
    select,
    button.select {
      background-color: var(--black);
    }
  }
  .pizza--wrapper {
    padding-left: 50px;
    .pizza--draw {
      height: 335px;
      width: 335px;
      border-radius: 50%;
      background-image: linear-gradient(to right, #f3f3f3 50%, #eeeeee 50%);
      margin: auto;
    }
    .dips {
      margin: 50px 0;
      @include scrollbar;
      display: flex;
      justify-content: center;
      .item {
        height: 75px;
        width: 75px;
        border-radius: 50%;
        background-color: var(--color-ac);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .price--title {
      text-align: center;
      border: 1px solid var(--black);
      border-left: 0;
      border-right: 0;
      padding: 0.5em 0;
      max-width: 400px;
      margin: auto;
    }
    .cart__wrapper {
      @include addtocart;
      background-color: var(--grey);
      width: 30%;
      &,
      input {
        color: var(--black);
      }
    }
    .buttons {
      margin-top: 4em;
      gap: 2em;
      button {
        flex-grow: 2;
      }
    }
  }
}
