@mixin flexer($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@mixin lineclamp($line) {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@mixin transition-out {
  transition: 0.3s ease-out;
}

@mixin transition-in {
  transition: 0.3s ease-in;
}
@mixin transition {
  transition: 0.3s linear;
}

@mixin card__action {
  .card__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    .sublink {
      color: var(--dark);
      padding: 0 4px;
      @include transition;
      &:hover {
        color: var(--dark4);
      }
    }
  }
}

@mixin card {
  border: 0;
  box-shadow: none;
  font-size: 14px;
  color: var(--dark);
  background-color: transparent;
  border-radius: 0;
  outline: none;

  .card__title,
  .card__title a {
    color: var(--dark);
    font-size: 1em;
    font-weight: $font-bold;
    &:hover {
      color: var(--dark2);
    }
  }

  img {
    @include image;
  }
  .card__link {
    color: var(--dark3);
    font-weight: 700;
  }
  .card__para {
    line-height: 1.6;
    font-size: 1em;
  }
}

@mixin scrollbar {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scrollbar-width: none;
  // white-space: nowrap;
  // flex-wrap: nowrap;
  &::-webkit-scrollbar {
    background: transparent; /* make scrollbar transparent */
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }
  & > * {
    scroll-snap-align: start;
  }
}

@mixin border-radius {
  border-radius: 10px;
}

@mixin noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin addtocart {
  height: 45px;
  background-color: hsla(0, 0%, 100%, 0.2);
  color: #fff;
  display: flex;
  @include border-radius;
  span {
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include noSelect;
  }
  input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    color: #fff;
    text-align: center;
    font-weight: $font-bold;
  }
}
