@import "node_modules/bootstrap/scss/bootstrap";
@import "./var/colors";
@import "./var/fonts";
@import "./mixins";
@import "./layouts/responsive";
@import "./layouts/header";
@import "./layouts/footer";
@import "./commonClass";

//Importing Pages
@import "./page/home";

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  scrollbar-width: thin;
  font-size: 16px;
}
main {
  background-color: var(--white);
}

.wrapper {
  width: 96%;
  margin: 0 auto;
}
