@import "./var/colors";
@import "./var/fonts";
@import "./mixins";
@import "./layouts/responsive";
@import "./layouts/header";
@import "./layouts/footer";
@import "./commonClass";

//Importing Widgets
@import "./layouts/widgets";

//Importing Pages
@import "./page/home";

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }
  &::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 4px;
  }
}
main {
  background-color: var(--white2);
}

.wrapper {
  width: 96%;
  margin: 0 auto;
}
