@import "node_modules/bootstrap/scss/bootstrap";
@import "./var/colors";
@import "./var/fonts";
@import "./mixins";

@import "./var/layouts";
@import "./layouts/index";
@import "./commonClass";

//Importing Pages
@import "./page/home";
@import "./page/contact";
@import "./page/menu";
@import "./page/about";

/* --------------------------------------------------------
version: 1.0
last modified: 13.april.2021 by anjit and sonhang
author1: Anjit Pariyar	
email: anjitpariyar@gmail.com
github: https://github.com/anjitzero
author2: Sonahang rai	
email: shonahangrae@gmail.com 
github: https://github.com/sonangrai
----------------------------------------------------------*/

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: $font-light;
  scrollbar-width: thin;
  font-size: 16px;
  color: var(--black);
  font-weight: $font-light;
  scroll-behavior: smooth;
  font-size: 16px;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }
  &::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 4px;
  }
}
main {
  background-color: var(--white);
}
.main--section {
  display: flex;
  width: 100%;
  .main--right {
    flex-grow: 2;
    padding: $wrapper--padding;
    padding-left: 5em;
    width: calc(100% - 250px);
  }
}

.wrapper {
  width: 100%;
  padding: 0 $wrapper--padding;
  margin: 0 auto;
  max-width: 1550px;
}
