/*
Font Family Imports
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

/*
  Font Weights
  */
$font-light: 300;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
