header {
  @include flexer(space-between, center);
  .header__left {
    .search--box {
      background-color: var(--grey);
      border-radius: 5px;
      min-width: 300px;
      form {
        .form-group {
          @include flexer(space-between, center);
          padding: 0.6em 1em;
          svg {
            width: 20px;
            margin-right: 0.5em;
          }
          input {
            flex-grow: 2;
            border: 0;
            background-color: transparent;
          }
        }
      }
    }
  }
  .header__right {
    .buttons {
      button {
        &:last-child {
          margin-left: 2em;
        }
      }
    }
  }
}
