header {
  @include flexer(space-between, center);
  @include lg {
    flex-wrap: wrap;
  }
  @include md {
    flex-direction: column-reverse;
  }
  margin: 0 0 1em;
  .header__left {
    @include md {
      width: 100%;
      margin-top: 1em;
    }
    .search--box {
      background-color: var(--grey);
      border-radius: 5px;
      width: 282px;
      @include md {
        width: 100%;
      }
      form {
        .form-group {
          @include flexer(space-between, center);
          padding: 0.6em 1em;
          svg {
            width: 20px;
            margin-right: 0.5em;
          }
          input {
            flex-grow: 2;
            border: 0;
            background-color: transparent;
            @include sm {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
  .header__right {
    @include md {
      width: 100%;
      @include flexer(space-between, center);
    }
    .mobile-nav {
      display: none;
      @include md {
        display: block;
      }
      #ham {
        span {
          display: block;
          width: 30px;
          height: 3px;
          border-radius: 4px;
          margin-bottom: 0.5em;
          background-color: var(--black);
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .buttons {
      @include sm {
        text-align: right;
      }
      button {
        &:last-child {
          margin-left: 2em;
          @include lg {
            margin-left: 0.5em;
          }
          @include sm {
            margin-left: 0;
          }
        }
        svg,
        span {
          pointer-events: none;
        }
        @include lg {
          span {
            display: none;
          }
        }
      }
    }
  }
}

.login-modal {
  .modal-dialog {
    max-width: 750px;
    .modal-content {
      padding: 0 2em;
      @include flexer(center, center);
      min-height: 500px;
      max-height: 500px;
      border-radius: 8px;
      background-image: url(../img/login.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: right;
      @include sm {
        background-size: cover;
      }
      .form {
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
        background-color: var(--white);
        padding: 1em;
        border-radius: 8px;
        .login {
          display: none;
          &.active {
            display: block;
          }
        }
        .signup {
          display: none;
          &.active {
            display: block;
          }
        }
        h3 {
          margin-bottom: 1em;
          font-size: 1.1em;
        }
        .form-group {
          margin-bottom: 1em;
          position: relative;
          border: 1px solid var(--grey);
          border-radius: 6px;
          padding: 0.5em;
          &:last-child {
            margin-bottom: 0;
            border: 0;
            padding: 0;
          }
          label {
            font-size: 0.8em;
            display: inline-block;
            position: absolute;
            top: -10px;
            background-color: var(--white);
            padding: 0 1em;
          }
          input,
          textarea {
            border: 0;
            background: transparent;
            width: 100%;
          }
          small {
            display: block;
            margin-top: 0.5em;
            font-size: 0.8em;
            span {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
      .sayings {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        @include sm {
          display: none;
        }
        .box {
          background-color: var(--black);
          padding: 1em;
          text-align: center;
          p,
          span {
            color: var(--white);
          }
        }
      }
    }
  }
}
