.nav--left {
  width: 15%;
  min-width: 250px;
  padding: $wrapper--padding 30px;
  padding-left: 0 !important;
  border-right: 1px solid #e5e5e5;
  .logo {
    display: flex;
    justify-content: center;
    img {
      height: 90px;
      width: auto;
    }
  }
  nav {
    margin: 2em 0;
    .nav-item {
      margin: 0.3em 0;
    }
    .nav-link {
      padding: 0.8em 1.2em;
      color: var(--dark);
      @include border-radius;
      // @include transition;
      font-weight: $font-medium;

      svg {
        margin-right: 0.8em;
      }
      &:hover,
      &.active {
        background-color: var(--primary-color);
      }

      &.more {
        background-color: transparent !important;
        font-size: 0.8em;
        opacity: 0.5;
        svg {
          margin-left: 1em;
        }
      }
    }
  }

  .app {
    justify-content: space-between;
    padding: 0 0.8em;
    svg {
      height: 28px;
      width: auto;
    }
  }
  .sticky {
    position: sticky;
    top: $wrapper--padding;
  }
}
