{% extends 'layout/_layout.twig' %} {% block title %} Contact - Berlin Pizza {%
endblock %} {% block javascripts %} {% endblock %} {% block contents %}

<main class="contact-page">
  <section class="contact-box">
    <div class="contact-form">
      <h2>We would like to</h2>
      <h3>Hear from you</h3>
      <form action="">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea id="message"></textarea>
        </div>
        <div class="form-group">
          <button class="btn">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.5 13.75C10.9518 13.75 13.75 10.9518 13.75 7.5C13.75 4.04822 10.9518 1.25 7.5 1.25C4.04822 1.25 1.25 4.04822 1.25 7.5C1.25 10.9518 4.04822 13.75 7.5 13.75Z"
                stroke="#333333"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M7.5 10L10 7.5L7.5 5"
                stroke="#333333"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M5 7.5H10"
                stroke="#333333"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span>Submit</span>
          </button>
        </div>
      </form>
    </div>
  </section>

  <section class="infos">
    <div class="row">
      <div class="col-xl-4">
        <div class="info-itm">
          <h3>We are located at</h3>
          <p>29a Farthing Grove Netherfield Milton Keynes, MK6 4JH</p>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="info-itm">
          <h3>For enquiry & other details</h3>
          <p>01908 674401 enquiry@berlinpizza.com</p>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="info-itm">
          <h3>Job Opportunity</h3>
          <p>01908 674401 hr.berlin@berlinpizza.com</p>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <section class="outlets">
    <div class="section-title">
      <h2>Our outlets</h2>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div class="outlet-itm">
          <div class="outlet-title">
            <h3>Asia</h3>
          </div>
          <ul>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="outlet-itm">
          <div class="outlet-title">
            <h3>Africa</h3>
          </div>
          <ul>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="outlet-itm">
          <div class="outlet-title">
            <h3>Europe</h3>
          </div>
          <ul>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
            <li><a href="#!">Places, address, long address</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="meeting">
    <div class="meet-row">
      <div class="info">
        <span>Are you interested to register an outlet?</span>
      </div>
      <div class="button">
        <a href="" class="btn btn-white"
          ><svg
            width="15"
            height="15"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.5 13.75C10.9518 13.75 13.75 10.9518 13.75 7.5C13.75 4.04822 10.9518 1.25 7.5 1.25C4.04822 1.25 1.25 4.04822 1.25 7.5C1.25 10.9518 4.04822 13.75 7.5 13.75Z"
              stroke="#EC413D"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7.5 10L10 7.5L7.5 5"
              stroke="#EC413D"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M5 7.5H10"
              stroke="#EC413D"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span>Request a Meeting</span>
        </a>
      </div>
      <div class="illus">
        <img src="./img/meeting.png" alt="" />
      </div>
    </div>
  </section>
</main>

{% endblock %}
