{% extends 'layout/_layout.twig' %} {% block title %} Dinner - Mike Resturant {%
endblock %} {% block javascripts %} {% endblock %} {% block contents %}

<div class="menu-page">
 <section class="filters">
   <form action="" class="inline-form">
      <div class="menu__heading">
        <h2 class="section--title">Dinner</h2>
        <div class="form-group vegcheck">
          <div class="radio-item">
            <input type="checkbox" id="veg" />
            <label class="veg" for="veg">Veg</label>
          </div>
          <div class="radio-item">
            <input type="checkbox" id="nonveg" />
            <label class="nonveg" for="nonveg">Nonveg</label>
          </div>
        </div>
      </div>


 {# <div class="form-group inline-group">
        <div class="form-item">
          <input type="checkbox" class="filter" id="pizza" name="filter" />
          <label class="btn cust-checkbox" for="pizza"<span>Light</span></label
          >
        </div>
        <div class="form-item">
          <input type="checkbox" class="filter" id="burger" name="filter" />
          <label class="btn cust-checkbox" for="burger"
            <span>Full</span></label>
        </div>
        <div class="form-item">
          <input type="checkbox" class="filter" id="wraps" name="filter" />
          <label class="btn cust-checkbox" for="wraps"
           <span>Brunch</span></label
          >
        </div> #}


    </form>
  </section>

  <section class="menu-row">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <a class="menu-item" href="#!">
          <figure>
            <img src="./img/menu1.png" alt="" />
          </figure>
          <div class="veg-no">
            <svg
              class="veg"
              width="23"
              height="22"
              viewBox="0 0 23 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="11.2315" cy="11" r="5" />
              <path
                d="M1.23149 2H21.2315V-2H1.23149V2ZM20.2315 1V21H24.2315V1H20.2315ZM21.2315 20H1.23149V24H21.2315V20ZM2.23149 21V1H-1.76851V21H2.23149ZM1.23149 20C1.78378 20 2.23149 20.4477 2.23149 21H-1.76851C-1.76851 22.6569 -0.425362 24 1.23149 24V20ZM20.2315 21C20.2315 20.4477 20.6792 20 21.2315 20V24C22.8883 24 24.2315 22.6569 24.2315 21H20.2315ZM21.2315 2C20.6792 2 20.2315 1.55229 20.2315 1H24.2315C24.2315 -0.656855 22.8883 -2 21.2315 -2V2ZM1.23149 -2C-0.425364 -2 -1.76851 -0.656853 -1.76851 1H2.23149C2.23149 1.55228 1.78378 2 1.23149 2V-2Z"
              />
            </svg>
          </div>
          <div class="menu-infos">
            <h3>Mozzerella Pizza</h3>
            <h2><span>Rs. </span><strong id="target-mozzerella">550</strong></h2>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <a class="menu-item" href="#!">
          <figure>
            <img src="./img/menu2.png" alt="" />
          </figure>
          <div class="veg-no">
            <svg
              class="nonveg"
              width="23"
              height="22"
              viewBox="0 0 23 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="11.2315" cy="11" r="5" />
              <path
                d="M1.23149 2H21.2315V-2H1.23149V2ZM20.2315 1V21H24.2315V1H20.2315ZM21.2315 20H1.23149V24H21.2315V20ZM2.23149 21V1H-1.76851V21H2.23149ZM1.23149 20C1.78378 20 2.23149 20.4477 2.23149 21H-1.76851C-1.76851 22.6569 -0.425362 24 1.23149 24V20ZM20.2315 21C20.2315 20.4477 20.6792 20 21.2315 20V24C22.8883 24 24.2315 22.6569 24.2315 21H20.2315ZM21.2315 2C20.6792 2 20.2315 1.55229 20.2315 1H24.2315C24.2315 -0.656855 22.8883 -2 21.2315 -2V2ZM1.23149 -2C-0.425364 -2 -1.76851 -0.656853 -1.76851 1H2.23149C2.23149 1.55228 1.78378 2 1.23149 2V-2Z"
              />
            </svg>
          </div>
          <div class="menu-infos">
            <h3>Becon Pizza</h3>
            <h2><span>Rs. </span><strong id="target-becon">550</strong></h2>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <a class="menu-item" href="#!">
          <figure>
            <img src="./img/menu2.png" alt="" />
          </figure>
          <div class="veg-no">
            <svg
              class="nonveg"
              width="23"
              height="22"
              viewBox="0 0 23 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="11.2315" cy="11" r="5" />
              <path
                d="M1.23149 2H21.2315V-2H1.23149V2ZM20.2315 1V21H24.2315V1H20.2315ZM21.2315 20H1.23149V24H21.2315V20ZM2.23149 21V1H-1.76851V21H2.23149ZM1.23149 20C1.78378 20 2.23149 20.4477 2.23149 21H-1.76851C-1.76851 22.6569 -0.425362 24 1.23149 24V20ZM20.2315 21C20.2315 20.4477 20.6792 20 21.2315 20V24C22.8883 24 24.2315 22.6569 24.2315 21H20.2315ZM21.2315 2C20.6792 2 20.2315 1.55229 20.2315 1H24.2315C24.2315 -0.656855 22.8883 -2 21.2315 -2V2ZM1.23149 -2C-0.425364 -2 -1.76851 -0.656853 -1.76851 1H2.23149C2.23149 1.55228 1.78378 2 1.23149 2V-2Z"
              />
            </svg>
          </div>
          <div class="menu-infos">
            <h3>Cheese Pizza</h3>
            <h2><span>Rs. </span><strong id="target-cheese">550</strong></h2>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <a class="menu-item" href="#!">
          <figure>
            <img src="./img/menu2.png" alt="" />
          </figure>
          <div class="veg-no">
            <svg
              class="nonveg"
              width="23"
              height="22"
              viewBox="0 0 23 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="11.2315" cy="11" r="5" />
              <path
                d="M1.23149 2H21.2315V-2H1.23149V2ZM20.2315 1V21H24.2315V1H20.2315ZM21.2315 20H1.23149V24H21.2315V20ZM2.23149 21V1H-1.76851V21H2.23149ZM1.23149 20C1.78378 20 2.23149 20.4477 2.23149 21H-1.76851C-1.76851 22.6569 -0.425362 24 1.23149 24V20ZM20.2315 21C20.2315 20.4477 20.6792 20 21.2315 20V24C22.8883 24 24.2315 22.6569 24.2315 21H20.2315ZM21.2315 2C20.6792 2 20.2315 1.55229 20.2315 1H24.2315C24.2315 -0.656855 22.8883 -2 21.2315 -2V2ZM1.23149 -2C-0.425364 -2 -1.76851 -0.656853 -1.76851 1H2.23149C2.23149 1.55228 1.78378 2 1.23149 2V-2Z"
              />
            </svg>
          </div>
          <div class="menu-infos">
            <h3>Chicken Tikka Pizza</h3>
            <h2><span>Rs. </span><strong id="target-chicken">550</strong></h2>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <a class="menu-item" href="#!">
          <figure>
            <img src="./img/Ham-Burger.png" alt="" />
          </figure>
          <div class="veg-no">
            <svg
              class="nonveg"
              width="23"
              height="22"
              viewBox="0 0 23 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="11.2315" cy="11" r="5" />
              <path
                d="M1.23149 2H21.2315V-2H1.23149V2ZM20.2315 1V21H24.2315V1H20.2315ZM21.2315 20H1.23149V24H21.2315V20ZM2.23149 21V1H-1.76851V21H2.23149ZM1.23149 20C1.78378 20 2.23149 20.4477 2.23149 21H-1.76851C-1.76851 22.6569 -0.425362 24 1.23149 24V20ZM20.2315 21C20.2315 20.4477 20.6792 20 21.2315 20V24C22.8883 24 24.2315 22.6569 24.2315 21H20.2315ZM21.2315 2C20.6792 2 20.2315 1.55229 20.2315 1H24.2315C24.2315 -0.656855 22.8883 -2 21.2315 -2V2ZM1.23149 -2C-0.425364 -2 -1.76851 -0.656853 -1.76851 1H2.23149C2.23149 1.55228 1.78378 2 1.23149 2V-2Z"
              />
            </svg>
          </div>
          <div class="menu-infos">
            <h3>Classic Burger</h3>
            <h2><span>Rs. </span><strong>550</strong></h2>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>

<div class="make-pizza">
  <a href="./contact" class="nav-link">
    <svg
      width="23"
      height="24"
      viewBox="0 0 23 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M21.35 6.58452C21.35 6.55952 21.35 6.55952 21.35 6.58452C21.35 6.55952 21.35 6.55952 21.35 6.58452C21.35 6.55952 21.35 6.55952 21.35 6.58452C21.35 6.55952 21.35 6.55952 21.35 6.58452C21.325 6.53452 21.3 6.50952 21.3 6.50952C21.3 6.48452 21.275 6.48452 21.25 6.48452L21.225 6.45952C21.2 6.45952 21.2 6.43452 21.175 6.43452L21.15 6.40952C21.15 6.40952 21.125 6.40952 21.1 6.38452C21.075 6.38452 21.075 6.35952 21.05 6.35952C21.05 6.35952 21.05 6.35952 21.025 6.35952C21 6.35952 20.975 6.33452 20.95 6.33452C20.875 6.33452 20.825 6.33452 20.75 6.35952C20.725 6.35952 20.725 6.35952 20.725 6.38452C20.7 6.38452 20.675 6.40952 20.675 6.40952L18.475 7.60952L12 11.1595V3.75952V1.25952C12 0.984521 11.775 0.759521 11.5 0.759521C7.4 0.759521 3.625 2.98452 1.65 6.55952C0.725 8.23452 0.25 10.1095 0.25 12.0095C0.25 13.9095 0.725 15.7845 1.65 17.4595C3.625 21.0345 7.4 23.2595 11.5 23.2595C15.6 23.2595 19.375 21.0345 21.35 17.4595C22.275 15.7845 22.75 13.9095 22.75 12.0095C22.75 10.1095 22.275 8.23452 21.35 6.58452ZM20.7 16.5095L19.375 15.7845C19.95 14.6095 20.25 13.3095 20.25 12.0095C20.25 10.7095 19.95 9.40952 19.4 8.23452L20.725 7.50952C21.4 8.90952 21.775 10.4595 21.775 12.0095C21.75 13.5845 21.375 15.1095 20.7 16.5095ZM18.5 8.70952C18.975 9.73452 19.25 10.8595 19.25 12.0095C19.25 13.1595 19 14.2845 18.5 15.3095L12.525 12.0095L18.5 8.70952ZM4.5 8.70952L10.475 12.0095L4.5 15.3095C4.025 14.2845 3.75 13.1595 3.75 12.0095C3.75 10.8595 4 9.73452 4.5 8.70952ZM4.975 7.83452C6.3 5.75952 8.55 4.43452 11 4.28452V11.1595L4.975 7.83452ZM11 12.8595V19.7345C8.55 19.5845 6.3 18.2595 4.975 16.1845L11 12.8595ZM12 12.8595L18.025 16.1845C16.7 18.2595 14.45 19.5845 12 19.7345V12.8595ZM11 1.78452V3.28452C8.175 3.43452 5.6 4.95952 4.1 7.35952L2.775 6.63452C4.55 3.75952 7.625 1.93452 11 1.78452ZM2.3 7.50952L3.625 8.23452C3.05 9.40952 2.75 10.7095 2.75 12.0095C2.75 13.3095 3.05 14.6095 3.6 15.7845L2.3 16.5095C1.625 15.1095 1.25 13.5845 1.25 12.0095C1.25 10.4345 1.625 8.90952 2.3 7.50952ZM2.775 17.3845L4.1 16.6595C5.6 19.0595 8.175 20.5595 11 20.7345V22.2345C7.625 22.0845 4.55 20.2595 2.775 17.3845ZM12 22.2345V20.7345C14.825 20.5845 17.4 19.0595 18.9 16.6595L20.225 17.3845C18.45 20.2595 15.375 22.0845 12 22.2345ZM9 6.75952C9 6.88452 8.95 7.00952 8.85 7.10952C8.75 7.20952 8.625 7.25952 8.5 7.25952C8.375 7.25952 8.25 7.20952 8.15 7.10952C8.125 7.08452 8.1 7.05952 8.1 7.03452C8.1 7.00952 8.075 6.98452 8.05 6.93452C8.025 6.90952 8.025 6.88452 8.025 6.83452C8.025 6.80952 8.025 6.75952 8.025 6.73452C8.025 6.70952 8.025 6.65952 8.025 6.63452C8.025 6.60952 8.05 6.58452 8.05 6.53452C8.05 6.50952 8.075 6.48452 8.1 6.45952C8.125 6.43452 8.125 6.40952 8.15 6.38452C8.325 6.20952 8.675 6.20952 8.85 6.38452C8.875 6.40952 8.9 6.43452 8.9 6.45952C8.925 6.48452 8.925 6.50952 8.95 6.53452C8.975 6.55952 8.975 6.58452 8.975 6.63452C9 6.68452 9 6.73452 9 6.75952ZM8 17.3595C8 17.3345 8 17.2845 8 17.2595C8 17.1345 8.05 17.0095 8.15 16.9095C8.325 16.7095 8.675 16.7095 8.85 16.9095C8.95 17.0095 9 17.1345 9 17.2595C9 17.2845 9 17.3345 9 17.3595C9 17.3845 8.975 17.4345 8.975 17.4595C8.975 17.4845 8.95 17.5095 8.925 17.5345C8.9 17.5595 8.875 17.5845 8.85 17.6095C8.75 17.7095 8.625 17.7595 8.5 17.7595C8.375 17.7595 8.25 17.7095 8.15 17.6095C8.125 17.5845 8.1 17.5595 8.1 17.5345C8.075 17.5095 8.075 17.4845 8.05 17.4595C8.025 17.4095 8.025 17.3845 8 17.3595ZM14.85 16.9095C14.95 17.0095 15 17.1345 15 17.2595C15 17.2845 15 17.3345 15 17.3595C15 17.3845 14.975 17.4345 14.975 17.4595C14.975 17.4845 14.95 17.5095 14.925 17.5345C14.9 17.5595 14.875 17.5845 14.875 17.6095C14.825 17.6595 14.775 17.6845 14.725 17.7095C14.625 17.7595 14.575 17.7595 14.5 17.7595C14.375 17.7595 14.25 17.7095 14.15 17.6095C14.125 17.5845 14.1 17.5595 14.075 17.5345C14.05 17.5095 14.05 17.4845 14.025 17.4595C14.025 17.4345 14 17.4095 14 17.3595C14 17.3345 14 17.2845 14 17.2595C14 17.1345 14.05 17.0095 14.15 16.9095C14.175 16.8845 14.2 16.8595 14.225 16.8595C14.25 16.8345 14.275 16.8345 14.3 16.8095C14.325 16.8095 14.35 16.7845 14.4 16.7845C14.475 16.7845 14.525 16.7845 14.6 16.7845C14.625 16.7845 14.65 16.8095 14.7 16.8095C14.725 16.8345 14.75 16.8345 14.775 16.8595C14.8 16.8595 14.825 16.8845 14.85 16.9095ZM5.25 12.0095C5.25 11.8845 5.3 11.7595 5.4 11.6595C5.425 11.6345 5.45 11.6095 5.475 11.6095C5.5 11.5845 5.525 11.5845 5.55 11.5595C5.575 11.5345 5.6 11.5345 5.65 11.5345C5.8 11.5095 5.975 11.5595 6.1 11.6595C6.2 11.7595 6.25 11.8845 6.25 12.0095C6.25 12.0845 6.225 12.1345 6.2 12.2095C6.175 12.2595 6.15 12.3345 6.1 12.3595C6 12.4595 5.875 12.5095 5.75 12.5095C5.625 12.5095 5.5 12.4595 5.4 12.3595C5.35 12.3095 5.325 12.2595 5.3 12.2095C5.25 12.1345 5.25 12.0845 5.25 12.0095ZM16.75 12.0095C16.75 11.8845 16.8 11.7595 16.9 11.6595C16.925 11.6345 16.95 11.6095 16.975 11.6095C17 11.5845 17.025 11.5845 17.05 11.5595C17.075 11.5345 17.1 11.5345 17.15 11.5345C17.325 11.5095 17.475 11.5595 17.6 11.6595C17.7 11.7595 17.75 11.8845 17.75 12.0095C17.75 12.0845 17.75 12.1345 17.7 12.2095C17.675 12.2595 17.65 12.3345 17.6 12.3595C17.5 12.4595 17.375 12.5095 17.25 12.5095C17.125 12.5095 17 12.4595 16.9 12.3595C16.8 12.2595 16.75 12.1345 16.75 12.0095Z"
        fill="#333333"
      />
    </svg>
    <span>Order Your own</span>
  </a>
</div>
{% include './widgets/_addFood.twig' %}
<script src="./js/addFood.js"></script>
{% endblock %}
