{% extends 'layout/_layout.twig' %} {% block title %}Berlin Pizza - Home {%
endblock %} {% block javascripts %} {% endblock %} {% block contents %}

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<main class="home-page">
  {# Grid COmbos #}
  <section class="combos">
    <div class="row">
      <div class="col-12">
        <div class="title-bar">
          <h2 class="section--title">Special Combos</h2>
        </div>
      </div>
    </div>
    <div class="grid combo-grid">
      <div class="combo--item curve-img">
        <div class="top-slider owl-theme owl-carousel">
          <div class="item">
            <a href="#!"><img src="./img/combo6.jpg" alt="" /></a>
          </div>
          <div class="item">
            <a href="#!"><img src="./img/combo1.jpg" alt="" /></a>
          </div>
          <div class="item">
            <a href="#!"><img src="./img/combo4.jpg" alt="" /></a>
          </div>
          <div class="item">
            <a href="#!"><img src="./img/combo5.jpg" alt="" /></a>
          </div>
        </div>
      </div>
      <div class="combo--item curve-img">
        <a href="#!"><img src="./img/combo5.jpg" alt="" /></a>
      </div>
      <div class="combo--item curve-img">
        <a href="#!"><img src="./img/combo1.jpg" alt="" /></a>
      </div>
      <div class="combo--item curve-img">
        <a href="#!"><img src="./img/combos.jpg" alt="" /></a>
      </div>
    </div>
  </section>

  {# Try Our Menu #}
  <section class="try">
    <div class="row">
      <div class="col-12">
        <div class="title-bar">
          <h2 class="section--title">Try Our Menu</h2>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="try-item curve-img">
          <a href="#!"
            ><figure><img src="./img/try1.jpg" alt="" /></figure>
            <figcaption>Pizza</figcaption></a
          >
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="try-item curve-img">
          <a href="#!"
            ><figure><img src="./img/try2.jpg" alt="" /></figure>
            <figcaption>Wraps & Burger</figcaption></a
          >
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="try-item curve-img">
          <a href="#!"
            ><figure><img src="./img/try3.jpg" alt="" /></figure>
            <figcaption>Soft Drinks</figcaption></a
          >
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="download curve-img">
          <a href="#!"><img src="./img/dwn.jpg" alt="" /> </a>
        </div>
      </div>
    </div>
  </section>

  {# Intro #} {#
  <section class="introduction">
    <div class="row">
      <div class="col-xl-6">
        <div class="intro__desc">
          <h2 class="section--title">Welcome to Berlin Pizza</h2>
          <p>
            Berlin Pizza Restaurant is located in 29a Farthing Grove Netherfield
            Milton Keynes MK6 4JH is the place for you and all you need to do is
            decide what you want to eat. They have all those favourites pizza
            such as Pizza American Hot, Pizza Chicken Tikka.
          </p>
          <a href="#!" class="readmore">Read more></a>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="intro__img curve-img">
          <img src="./img/intro.jpg" alt="" />
        </div>
      </div>
    </div>
  </section>
  #}
</main>
<script src="./js/jquery.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  $(".top-slider").owlCarousel({
    loop: true,
    margin: 10,
    dots: false,
    items: 1,
    nav: true,
    autoplay: true,
    autoplayHoverPause: true,
  });
</script>

{% endblock %}
