{% extends 'layout/_layout.twig' %} {% block title %} Menu - Berlin Pizza {%
endblock %} {% block javascripts %} {% endblock %} {% block contents %}

<div class="page--pizza">
  <h2 class="section--title">Half n’ Half</h2>
  <section class="half">
    <div class="row">
      <aside class="col-sm-4 col-lg-3 cart">
        <form action="" method="post">
          <div class="form-group">
            <label for="size">Select the pizza size.</label>
            <select class="form-select" name="size" id="size">
              <option>Size</option>
              <option value="1" selected="">9"</option>
              <option value="2">12"</option>
              <option value="3">15"</option>
              <option value="3">18"</option>
            </select>
          </div>
          <div class="form-group">
            <label for="primarydip">Choose a primary dip</label>
            <select class="form-select" name="primarydip" id="primarydip">
              <option selected="">Primary Dip</option>
              <option value="1">Dip - BBQ</option>
              <option value="2">Dip - Chilli</option>
              <option value="3">Dip - Garlic &amp; Herb</option>
            </select>
          </div>
          <div class="form-group">
            <label for="firsthalf">Select your first half</label>
            <select class="form-select" name="firsthalf" id="firsthalf">
              <option selected="">Pizza half one</option>
              <option value="1">Pizza half two</option>
              <option value="2">Pizza half three</option>
              <option value="3">Pizza half four</option>
            </select>
          </div>
          <div class="form-group">
            <label for="secondhalf">Select your Second Half</label>
            <select class="form-select" name="secondhalf" id="secondhalf">
              <option selected="">Pizza half one</option>
              <option value="1">Pizza half two</option>
              <option value="2">Pizza half three</option>
              <option value="3">Pizza half four</option>
            </select>
          </div>
          <div class="form-group">
            <!-- Button trigger modal -->

            <button
              class="select"
              data-bs-toggle="modal"
              data-bs-target="#extraTopping"
              type="button"
            >
              <span> Extra Dip / Toppings</span>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10 4.16675V15.8334"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M4.16666 10H15.8333"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </button>
          </div>
        </form>
      </aside>
      <aside class="col-sm-8 col-lg-9">
        <div class="pizza--wrapper">
          <article class="pizza--draw">
            <div class="left">
              <img src="" alt="" id="pizza--left" />
            </div>
            <div class="left">
              <img src="" alt="" id="pizza--right" />
            </div>
          </article>
          <article class="dips">
            <div class="item">
              <svg
                width="45"
                height="45"
                viewBox="0 0 45 45"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M43.8901 14.7912L29.4238 0.324848C29.1616 0.0628091 28.7856 -0.0509729 28.4219 0.02138C28.0581 0.093881 27.7546 0.343491 27.6133 0.686317L21.4181 15.7057C19.9248 15.1579 18.2837 14.861 16.5827 14.861C10.486 14.861 5.45128 18.6785 4.80173 23.5682H3.97833C2.21759 23.5682 0.785034 25.0008 0.785034 26.7615C0.785034 28.159 1.68863 29.3468 2.94127 29.7786C5.74025 40.2951 10.8056 44.5665 11.0241 44.7468C11.2229 44.9104 11.4723 45.0001 11.7299 45.0001H29.542C29.7995 45.0001 30.0489 44.9106 30.2478 44.7468C30.4663 44.5665 35.5316 40.2951 38.3309 29.7786C39.5835 29.3467 40.4871 28.159 40.4871 26.7615C40.4871 25.0008 39.0546 23.5682 37.2938 23.5682H36.3003C35.5705 22.4174 34.6138 21.4571 33.5054 20.7367L43.5288 16.6018C43.8716 16.4603 44.1211 16.1568 44.1939 15.7931C44.2664 15.4293 44.1526 15.0533 43.8901 14.7912ZM16.5827 17.0806C20.2567 17.0806 23.5629 18.6911 25.2112 21.2837C25.4774 21.702 25.9886 21.8933 26.4637 21.752C27.114 21.5589 27.7869 21.4609 28.4638 21.4609C30.3761 21.4609 32.1716 22.2385 33.4818 23.5682H7.0469C7.71272 19.9059 11.7343 17.0806 16.5827 17.0806ZM29.1088 42.7807H12.1628C11.1463 41.7892 7.54967 37.8575 5.29163 29.9548H35.9802C33.7219 37.8574 30.1254 41.7892 29.1088 42.7807ZM37.2937 25.7876C37.8306 25.7876 38.2676 26.2246 38.2676 26.7615C38.2676 27.2985 37.8306 27.7354 37.2937 27.7354H3.97818C3.44108 27.7354 3.0043 27.2985 3.0043 26.7615C3.0043 26.2246 3.44108 25.7876 3.97818 25.7876H37.2937ZM30.6655 19.5071C29.9539 19.3328 29.2156 19.2415 28.4637 19.2415C27.8439 19.2415 27.2266 19.304 26.6202 19.4274C25.7773 18.3203 24.688 17.3822 23.4296 16.6491L29.0308 3.07056L41.1447 15.1843L30.6655 19.5071Z"
                  fill="#F9F9F9"
                />
              </svg>
            </div>
          </article>
          <h2 class="section--title price--title totalPrice" id="totalPrice">
            £205.65
          </h2>
          <div class="buttons">
            <div class="cart__wrapper">
              <span class="dec">-</span>
              <input type="number" value="1" min="0" max="10" readonly="" />
              <span class="inc">+</span>
            </div>
            <button class="btn Add Order">Add Order</button>
            <button class="btn btn-secondary" type="submit">
              Proceed to Checkout
            </button>
          </div>
        </div>
      </aside>
    </div>
  </section>
</div>
{% include './widgets/_addFood.twig' %} {% endblock %}
