{% extends 'layout/_layout.twig' %} {% block title %} Menu - Berlin Pizza {%
endblock %} {% block javascripts %} {% endblock %} {% block contents %}

<main class="menu-page">
  <section class="filters">
    <form action="">
      <div class="form-group">
        <select class="form-select" name="" id="">
          <option value="">All</option>
          <option value="">Burger</option>
          <option value="">Pizza</option>
        </select>
      </div>
    </form>
  </section>
</main>

{% endblock %}
