{% extends 'layout/_layout.twig' %} {% block title %} Menu - Berlin Pizza {%
endblock %} {% block javascripts %} {% endblock %} {% block contents %}

<main class="menu-page">
  <section class="filters">
    <form action="" class="inline-form">
      <div class="form-group all-select">
        <select class="form-select" name="" id="">
          <option value="">All</option>
          <option value="">Veg</option>
          <option value="">NonVeg</option>
        </select>
      </div>
      <div class="form-group inline-group">
        <div class="form-item">
          <input type="checkbox" class="filter" id="pizza" name="filter" />
          <label class="btn cust-checkbox" for="pizza"
            ><svg
              width="14"
              height="17"
              viewBox="0 0 14 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.91411 10.6473C6.16735 10.6473 5.58061 11.2341 5.58061 11.9631C5.58061 12.692 6.18513 13.2788 6.91411 13.2788C7.64309 13.2788 8.2476 12.692 8.2476 11.9631C8.2476 11.2341 7.66086 10.6473 6.91411 10.6473ZM6.91411 12.5676C6.55851 12.5676 6.29181 12.3009 6.29181 11.9631C6.29181 11.6252 6.57629 11.3585 6.91411 11.3585C7.25193 11.3585 7.53641 11.6252 7.53641 11.9631C7.53641 12.3009 7.25193 12.5676 6.91411 12.5676Z"
                fill="white"
              />
              <path
                d="M7.30526 9.02932C7.14524 9.17156 7.14524 9.42048 7.30526 9.58049C7.46528 9.72273 7.7142 9.72273 7.85644 9.58049C8.01646 9.43826 8.01646 9.18934 7.85644 9.02932C7.7142 8.8693 7.46528 8.8693 7.30526 9.02932Z"
                fill="white"
              />
              <path
                d="M6.94967 14.1677C6.78965 14.3278 6.78965 14.5589 6.94967 14.7189C7.10968 14.8612 7.3586 14.8612 7.50084 14.7189C7.66086 14.5767 7.66086 14.3278 7.50084 14.1677C7.3586 14.0077 7.10968 14.0077 6.94967 14.1677Z"
                fill="white"
              />
              <path
                d="M3.39368 5.11782C3.23366 5.26006 3.23366 5.50898 3.39368 5.669C3.5537 5.81123 3.80262 5.81123 3.94486 5.669C4.10488 5.52676 4.10488 5.27784 3.94486 5.11782C3.80262 4.9578 3.5537 4.9578 3.39368 5.11782Z"
                fill="white"
              />
              <path
                d="M13.546 2.30854C13.4216 2.02406 13.1726 1.8107 12.8882 1.70402C9.11882 0.406088 4.99387 0.423868 1.24231 1.77514C0.940047 1.88182 0.708908 2.11296 0.584449 2.37966C0.459989 2.66414 0.459989 2.98418 0.584449 3.26866L2.70026 8.17592L6.09623 16.0524C6.27403 16.4791 6.68297 16.7458 7.14525 16.7458C7.60752 16.7458 8.01646 16.4791 8.19426 16.0524L13.5638 3.19754C13.6705 2.91306 13.6705 2.59302 13.546 2.30854ZM3.39368 8.0159C3.41146 7.98034 3.41146 7.96256 3.42924 7.927C3.5537 7.67808 3.76706 7.4825 4.03376 7.37582C4.30046 7.28692 4.58493 7.3047 4.85163 7.42916C5.38503 7.67808 5.59839 8.31816 5.34947 8.85156C5.22501 9.10048 5.01165 9.29606 4.74495 9.38496C4.49603 9.47386 4.22934 9.45608 3.98042 9.36718L3.39368 8.0159ZM11.448 6.38015C11.2524 5.59783 10.5412 5.01109 9.70556 5.01109C8.70988 5.01109 7.892 5.81119 7.892 6.80686C7.892 7.80254 8.6921 8.60264 9.70556 8.60264C10.0434 8.60264 10.3634 8.51374 10.6301 8.33594L7.5364 15.768C7.42972 16.0169 7.19859 16.0347 7.14525 16.0347C7.07413 16.0347 6.84299 16.0169 6.75409 15.7857L4.31823 10.1673C4.33601 10.1673 4.37158 10.1673 4.38935 10.1673C4.58493 10.1673 4.78051 10.1317 4.97609 10.0606C5.42059 9.90057 5.77619 9.58053 5.98955 9.15382C6.20291 8.7271 6.22069 8.24704 6.06067 7.80254C5.90065 7.35804 5.58061 6.98466 5.15389 6.78909C4.42491 6.43349 3.5537 6.62907 3.03808 7.23358L1.90016 4.54881C3.0203 4.10431 4.19378 3.80206 5.38503 3.65982C5.31391 3.81984 5.27835 3.97986 5.27835 4.15765C5.27835 4.88663 5.88287 5.47337 6.61185 5.47337C7.34082 5.47337 7.94534 4.88663 7.94534 4.15765C7.94534 3.9443 7.892 3.74872 7.8031 3.5887C9.3144 3.65982 10.7901 3.99764 12.2125 4.56659L11.448 6.38015ZM10.7901 6.80686C10.7901 7.41138 10.2923 7.89144 9.68778 7.89144C9.08326 7.89144 8.58542 7.3936 8.58542 6.80686C8.58542 6.20235 9.08326 5.72229 9.68778 5.72229C10.3101 5.72229 10.7901 6.20235 10.7901 6.80686ZM5.98955 4.13987C5.98955 3.8554 6.20291 3.62426 6.46961 3.55314C6.55851 3.55314 6.64741 3.55314 6.73631 3.55314C7.02079 3.60648 7.23414 3.8554 7.23414 4.13987C7.23414 4.47769 6.94967 4.74439 6.61185 4.74439C6.27403 4.74439 5.98955 4.47769 5.98955 4.13987ZM12.8882 2.91306L12.4792 3.89096C10.6657 3.16198 8.70988 2.80638 6.77187 2.84194C6.71853 2.84194 6.66519 2.82416 6.59407 2.82416C6.52295 2.82416 6.43405 2.82416 6.36293 2.84194C4.72717 2.91306 3.1092 3.26866 1.5979 3.87318L1.20675 2.9664C1.17119 2.85972 1.17119 2.75304 1.20675 2.64636C1.26009 2.53968 1.34899 2.46856 1.45567 2.41522C5.04721 1.13507 9.01214 1.11729 12.6392 2.36188C12.7459 2.39744 12.8348 2.46856 12.8882 2.57524C12.9415 2.6997 12.9415 2.80638 12.8882 2.91306Z"
                fill="white"
              />
            </svg>
            <span>Pizza</span></label
          >
        </div>
        <div class="form-item">
          <input type="checkbox" class="filter" id="burger" name="filter" />
          <label class="btn cust-checkbox" for="burger"
            ><svg
              width="16"
              height="14"
              viewBox="0 0 16 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.8369 8.08985C14.9809 7.92985 15.0769 7.70585 15.0769 7.46585V7.14585C15.0769 7.03385 15.0609 6.92185 15.0289 6.82585H15.0769C15.1729 6.82585 15.2689 6.77785 15.3169 6.71385C15.3809 6.63385 15.3969 6.53785 15.3809 6.44185C14.7089 3.14585 11.7649 0.74585 8.40487 0.74585H7.98887C4.62887 0.74585 1.68487 3.14585 0.996871 6.44185C0.980871 6.53785 0.996871 6.63385 1.06087 6.71385C1.12487 6.77785 1.22087 6.82585 1.31687 6.82585H1.36487C1.33287 6.92185 1.31687 7.03385 1.31687 7.14585V7.46585C1.31687 7.70585 1.41287 7.92985 1.55687 8.08985C1.22087 8.36185 0.996871 8.76185 0.996871 9.22585C0.996871 9.52985 1.09287 9.80185 1.25287 10.0258C1.10887 10.0578 0.996871 10.1858 0.996871 10.3458C0.996871 11.9298 2.29287 13.2258 3.87687 13.2258H12.5169C14.1009 13.2258 15.3969 11.9298 15.3969 10.3458C15.3969 10.2658 15.3649 10.1858 15.3009 10.1218C15.2529 10.0738 15.2049 10.0578 15.1409 10.0418C15.3009 9.81785 15.3969 9.52985 15.3969 9.24185C15.3969 8.76185 15.1729 8.36185 14.8369 8.08985ZM7.98887 1.38585H8.40487C11.3329 1.38585 13.9089 3.38585 14.6769 6.18585H1.71687C2.48487 3.38585 5.06087 1.38585 7.98887 1.38585ZM14.4369 7.14585V7.46585C14.4369 7.64185 14.2929 7.78585 14.1169 7.78585H13.5409C13.2209 7.78585 12.9169 7.99385 12.8049 8.29785C12.6929 8.56985 12.3889 8.74585 12.0369 8.74585C11.7329 8.74585 11.4609 8.61785 11.3329 8.39385C11.2849 8.31385 11.1889 8.24985 11.0929 8.24985C10.9969 8.24985 10.9009 8.28185 10.8209 8.36185C10.6929 8.50585 10.5009 8.58585 10.2769 8.58585C10.0049 8.58585 9.76487 8.45785 9.66887 8.26585C9.54087 7.97785 9.25287 7.78585 8.93287 7.78585H2.27687C2.10087 7.78585 1.95687 7.64185 1.95687 7.46585V7.14585C1.95687 6.96985 2.10087 6.82585 2.27687 6.82585H14.1169C14.2929 6.82585 14.4369 6.96985 14.4369 7.14585ZM12.5169 12.5858H3.87687C2.75687 12.5858 1.81287 11.7538 1.65287 10.6658H2.70887C2.78887 10.6658 2.88487 10.6978 2.94887 10.7618L3.65287 11.5139C3.71687 11.5939 3.79687 11.6258 3.87687 11.6258C3.95687 11.6258 4.03687 11.5938 4.10087 11.5458L4.94887 10.7618C5.01287 10.7138 5.09287 10.6818 5.17287 10.6818H14.7409C14.5809 11.7538 13.6369 12.5858 12.5169 12.5858ZM13.9569 10.0258H5.17287C4.93287 10.0258 4.69287 10.1218 4.51687 10.2818L3.90887 10.8418L3.42887 10.3138C3.23687 10.1378 2.98087 10.0258 2.72487 10.0258H2.43687C1.98887 10.0258 1.63687 9.67385 1.63687 9.22585C1.63687 8.77785 1.98887 8.42585 2.43687 8.42585H8.94887C9.01287 8.42585 9.06087 8.45785 9.09287 8.52185C9.28487 8.95385 9.74887 9.22585 10.2769 9.22585C10.5489 9.22585 10.8049 9.14585 11.0289 9.01785C11.3009 9.25785 11.6529 9.38585 12.0369 9.38585C12.6449 9.38585 13.1889 9.04985 13.3969 8.53785C13.4289 8.47385 13.4769 8.42585 13.5569 8.42585H13.9569C14.4049 8.42585 14.7569 8.77785 14.7569 9.22585C14.7569 9.67385 14.4049 10.0258 13.9569 10.0258Z"
                fill="#ACACAC"
              />
              <path
                d="M5.18887 3.03388C4.43687 3.56188 3.81287 4.21788 3.31687 4.98588C3.22087 5.12988 3.26887 5.33788 3.41287 5.43388C3.46087 5.46588 3.52487 5.48188 3.58887 5.48188C3.70087 5.48188 3.79687 5.43388 3.86087 5.33788C4.30887 4.63388 4.88487 4.04188 5.55687 3.56188C5.70087 3.46588 5.73287 3.25788 5.63687 3.11388C5.54087 2.96988 5.33287 2.93788 5.18887 3.03388Z"
                fill="#ACACAC"
              />
              <path
                d="M11.2369 3.94591C11.4136 3.94591 11.5569 3.80264 11.5569 3.62591C11.5569 3.44918 11.4136 3.30591 11.2369 3.30591C11.0601 3.30591 10.9169 3.44918 10.9169 3.62591C10.9169 3.80264 11.0601 3.94591 11.2369 3.94591Z"
                fill="#ACACAC"
              />
              <path
                d="M9.95687 5.54588C10.1336 5.54588 10.2769 5.40261 10.2769 5.22588C10.2769 5.04915 10.1336 4.90588 9.95687 4.90588C9.78014 4.90588 9.63688 5.04915 9.63688 5.22588C9.63688 5.40261 9.78014 5.54588 9.95687 5.54588Z"
                fill="#ACACAC"
              />
              <path
                d="M12.5169 5.54588C12.6936 5.54588 12.8369 5.40261 12.8369 5.22588C12.8369 5.04915 12.6936 4.90588 12.5169 4.90588C12.3401 4.90588 12.1969 5.04915 12.1969 5.22588C12.1969 5.40261 12.3401 5.54588 12.5169 5.54588Z"
                fill="#ACACAC"
              />
            </svg>

            <span>Burger</span></label
          >
        </div>
        <div class="form-item">
          <input type="checkbox" class="filter" id="wraps" name="filter" />
          <label class="btn cust-checkbox" for="wraps"
            ><svg
              width="11"
              height="17"
              viewBox="0 0 11 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.67434 9.99023C4.58989 9.99023 3.71878 10.8613 3.71878 11.9458C3.71878 13.0302 4.58989 13.9013 5.67434 13.9013C6.75878 13.9013 7.62989 13.0302 7.62989 11.9458C7.62989 10.8613 6.75878 9.99023 5.67434 9.99023ZM5.67434 13.1902C4.981 13.1902 4.42989 12.6391 4.42989 11.9458C4.42989 11.2525 4.981 10.7013 5.67434 10.7013C6.36767 10.7013 6.91878 11.2525 6.91878 11.9458C6.91878 12.6391 6.36767 13.1902 5.67434 13.1902Z"
                fill="#ACACAC"
              />
              <path
                d="M10.101 7.16363C9.941 6.96807 9.70989 6.84363 9.461 6.80807L9.76322 4.33696C9.781 4.19474 9.70989 4.05252 9.60322 3.98141C9.47878 3.91029 9.33655 3.91029 9.21211 3.99918L8.87433 4.24807V3.41252C8.87433 2.50585 8.09211 1.75918 7.18544 1.81252C6.97211 1.19029 6.36766 0.74585 5.67433 0.74585C4.981 0.74585 4.37655 1.19029 4.16322 1.81252C4.12766 1.81252 4.10989 1.81252 4.07433 1.81252C3.18544 1.81252 2.47433 2.52363 2.47433 3.41252V4.10585L2.04766 3.96363C1.92322 3.92807 1.79878 3.94585 1.70989 4.03474C1.621 4.10585 1.56766 4.23029 1.58544 4.35474L1.88766 6.80807C1.63878 6.84363 1.40766 6.96807 1.24766 7.16363C1.05211 7.39474 0.96322 7.71474 0.998776 8.01696L2.20766 15.8392C2.29655 16.3725 2.741 16.7458 3.25655 16.7458H8.07433C8.60766 16.7458 9.05211 16.3725 9.12322 15.8392L10.3321 8.01696C10.3854 7.71474 10.2966 7.39474 10.101 7.16363ZM8.39433 5.45696L8.96322 5.06585L8.73211 6.79029H7.68322C7.381 6.79029 7.09655 6.93252 6.901 7.14585C6.81211 7.25252 6.72322 7.37696 6.66989 7.51918C6.52766 7.92807 6.11878 8.21252 5.67433 8.21252C5.22989 8.21252 4.821 7.92807 4.67878 7.51918C4.62544 7.37696 4.55433 7.25252 4.44766 7.14585C4.37655 7.07474 4.30544 7.00363 4.23433 6.95029C4.58989 6.41696 5.19433 6.11474 5.83433 6.16807C6.72322 6.23918 7.64767 5.97252 8.39433 5.45696ZM4.99878 5.56363C4.60766 5.67029 4.25211 5.88363 3.96766 6.16807C3.80767 6.00807 3.71878 5.77696 3.71878 5.54585C3.71878 5.04807 4.10989 4.65696 4.60766 4.65696C4.74989 4.65696 4.89211 4.69252 5.01655 4.76363C4.981 4.90585 4.96322 5.04807 4.96322 5.19029C4.96322 5.31474 4.981 5.43918 4.99878 5.56363ZM5.67433 5.19029C5.67433 4.49696 6.22544 3.94585 6.91878 3.94585C7.46989 3.94585 7.93211 4.30141 8.09211 4.78141L7.98544 4.87029C7.36322 5.29696 6.61655 5.51029 5.86989 5.45696C5.81655 5.45696 5.76322 5.45696 5.70989 5.45696C5.69211 5.36807 5.67433 5.27918 5.67433 5.19029ZM3.18544 3.41252C3.18544 2.91474 3.57655 2.52363 4.07433 2.52363C4.16322 2.52363 4.25211 2.54141 4.341 2.55918C4.44766 2.59474 4.55433 2.57696 4.64322 2.52363C4.73211 2.47029 4.78544 2.36363 4.80322 2.25696C4.83878 1.79474 5.22989 1.45696 5.69211 1.45696C6.15433 1.45696 6.52766 1.79474 6.581 2.25696C6.59878 2.36363 6.65211 2.45252 6.741 2.52363C6.82989 2.57696 6.93655 2.59474 7.04322 2.55918C7.13211 2.54141 7.221 2.52363 7.30989 2.52363C7.80766 2.52363 8.19878 2.91474 8.19878 3.41252V3.67918C7.82544 3.41252 7.39878 3.23474 6.91878 3.23474C6.24322 3.23474 5.63878 3.57252 5.301 4.10585C5.08767 3.99918 4.85655 3.94585 4.60766 3.94585C4.16322 3.94585 3.75433 4.12363 3.45211 4.42585L3.18544 4.33696V3.41252ZM3.07878 5.04807C3.04322 5.20807 3.00766 5.36807 3.00766 5.54585C3.00766 6.00807 3.221 6.43474 3.541 6.73696C3.52322 6.75474 3.52322 6.77252 3.50544 6.79029H2.61655L2.36766 4.81696L3.07878 5.04807ZM9.63878 7.91029L8.42989 15.7325C8.41211 15.9103 8.25211 16.0347 8.07433 16.0347H3.25655C3.07878 16.0347 2.93655 15.9103 2.901 15.7325L1.69211 7.91029C1.67433 7.80363 1.70989 7.69696 1.781 7.62585C1.85211 7.53696 1.941 7.50141 2.04766 7.50141H3.64766C3.78989 7.50141 3.93211 7.60807 3.98544 7.76807C4.23433 8.46141 4.90989 8.92363 5.65655 8.92363C6.40322 8.92363 7.061 8.46141 7.32766 7.76807C7.381 7.60807 7.52322 7.50141 7.66544 7.50141H9.26544C9.37211 7.50141 9.461 7.53696 9.53211 7.62585C9.621 7.69696 9.65655 7.80363 9.63878 7.91029Z"
                fill="#ACACAC"
              />
            </svg>

            <span>Wraps</span></label
          >
        </div>
        <div class="form-item">
          <input type="checkbox" class="filter" id="dips" name="filter" />
          <label class="btn cust-checkbox" for="dips"
            ><svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.0711 9.38585H13.5191L14.9911 7.67385C15.1031 7.54585 15.0871 7.33785 14.9591 7.22585C14.8311 7.11385 14.6231 7.12985 14.5111 7.25785L12.6871 9.38585H11.2311V1.70585C11.2311 1.17785 10.7991 0.74585 10.2711 0.74585H1.95109C1.42309 0.74585 0.991089 1.17785 0.991089 1.70585V14.1858C0.991089 14.7138 1.42309 15.1458 1.95109 15.1458H10.9111C10.9271 15.1458 10.9431 15.1458 10.9591 15.1458C10.9911 15.1458 11.0391 15.1458 11.0711 15.1458H12.6711C14.1751 15.1458 15.3911 13.9298 15.3911 12.4258V9.70585C15.3911 9.52985 15.2471 9.38585 15.0711 9.38585ZM1.63109 1.70585C1.63109 1.52985 1.77509 1.38585 1.95109 1.38585H10.2711C10.4471 1.38585 10.5911 1.52985 10.5911 1.70585V2.34585H1.63109V1.70585ZM1.63109 2.98585H10.5911V9.38585H8.67109C8.49509 9.38585 8.35109 9.52985 8.35109 9.70585V12.4258C8.35109 12.5858 8.36709 12.7458 8.39909 12.9058H1.63109V2.98585ZM1.95109 14.5058C1.77509 14.5058 1.63109 14.3618 1.63109 14.1858V13.5458H8.59109C8.75109 13.9138 9.00709 14.2498 9.31109 14.5058H1.95109ZM14.7511 12.4258C14.7511 13.5778 13.8231 14.5058 12.6711 14.5058H11.0711C9.91909 14.5058 8.99109 13.5778 8.99109 12.4258V11.3058H14.7511V12.4258ZM14.7511 10.6658H8.99109V10.0258H14.7511V10.6658Z"
                fill="#ACACAC"
              />
              <path
                d="M3.98202 8.24801C4.06202 8.29601 4.14202 8.34401 4.22202 8.39201C4.06202 8.48801 3.91802 8.60001 3.77402 8.72801C3.24602 9.25601 3.02202 9.97601 3.13402 10.696C3.15002 10.824 3.26202 10.936 3.39002 10.952C4.12602 11.08 4.84602 10.84 5.35802 10.312C5.48602 10.184 5.61402 10.024 5.71002 9.86401C5.75802 9.94401 5.79002 10.024 5.85402 10.104C5.93402 10.216 6.06202 10.264 6.20602 10.232C6.89402 10.04 7.42202 9.56001 7.69402 8.90401C8.28602 8.66401 8.75002 8.20001 8.97402 7.57601C9.23002 6.87201 9.13402 6.13601 8.71802 5.51201C8.70202 5.48001 8.67002 5.46401 8.63802 5.43201C8.62202 5.40001 8.59002 5.36801 8.55802 5.35201C8.17402 5.08001 7.72602 4.95201 7.27802 4.95201C7.02202 4.95201 6.75002 5.00001 6.49402 5.09601C5.88602 5.32001 5.40602 5.78401 5.16602 6.37601C4.51002 6.64801 4.03002 7.17601 3.83802 7.86401C3.82202 8.02401 3.87002 8.16801 3.98202 8.24801ZM6.27002 9.56001C6.09402 9.22401 6.06202 8.84001 6.15802 8.45601C6.38202 8.36001 6.59002 8.23201 6.76602 8.07201C6.83002 8.32801 6.92602 8.56801 7.07002 8.79201C6.87802 9.14401 6.60602 9.40001 6.27002 9.56001ZM8.39802 6.36001C8.49402 6.69601 8.49402 7.04801 8.36602 7.38401C8.20602 7.80001 7.90202 8.13601 7.50202 8.31201C7.32602 7.97601 7.29402 7.59201 7.39002 7.20801C7.82202 7.03201 8.15802 6.74401 8.39802 6.36001ZM6.71802 5.72001C7.13402 5.56001 7.59802 5.59201 7.98202 5.78401C7.80602 6.18401 7.47002 6.50401 7.05402 6.64801C6.62202 6.80801 6.17402 6.77601 5.79002 6.58401C5.96602 6.18401 6.30202 5.88001 6.71802 5.72001ZM5.31002 7.04801C5.67802 7.28801 6.11002 7.40001 6.52602 7.40001C6.35002 7.62401 6.11002 7.80001 5.82202 7.91201C5.40602 8.07201 4.94202 8.04001 4.55802 7.84801C4.70202 7.49601 4.95802 7.22401 5.31002 7.04801ZM5.40602 8.69601C5.42202 9.14401 5.24602 9.56001 4.92602 9.88001C4.60602 10.2 4.19002 10.36 3.74202 10.36C3.72602 9.91201 3.90202 9.49601 4.22202 9.17601C4.54202 8.85601 4.95802 8.69601 5.40602 8.69601Z"
                fill="#ACACAC"
              />
              <path
                d="M5.1511 4.2658C5.1511 4.0898 5.0071 3.9458 4.8311 3.9458H2.9111C2.7351 3.9458 2.59109 4.0898 2.59109 4.2658C2.59109 4.4418 2.7351 4.5858 2.9111 4.5858H4.8311C5.0071 4.5858 5.1511 4.4418 5.1511 4.2658Z"
                fill="#ACACAC"
              />
            </svg>

            <span>Dips</span></label
          >
        </div>
        <div class="form-item">
          <input type="checkbox" class="filter" id="deal" name="filter" />
          <label class="btn cust-checkbox" for="deal"
            ><svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.7631 14.272H15.1045C15.1757 14.1118 15.2291 13.9338 15.2291 13.7381C15.2291 13.044 14.6774 12.4922 13.9833 12.4922H10.9933L8.02112 9.27088C7.62958 8.82594 7.04226 8.57677 6.45494 8.57677H2.05894C1.47162 8.57677 0.991089 9.05731 0.991089 9.64463V12.8482C0.991089 13.4355 1.47162 13.916 2.05894 13.916H3.73191C3.96328 13.916 4.17685 13.9872 4.35483 14.1118L7.52279 16.4077C7.82535 16.6213 8.1991 16.7458 8.57285 16.7458H15.7631C16.4572 16.7458 17.0089 16.1941 17.0089 15.5C17.0089 14.8059 16.4572 14.272 15.7631 14.272ZM13.9833 13.2041C14.2859 13.2041 14.5172 13.4355 14.5172 13.7381C14.5172 14.0228 14.2859 14.272 13.9833 14.272H11.5806C11.634 14.1474 11.6874 14.005 11.6874 13.8626C11.7052 13.6313 11.6696 13.4177 11.5628 13.2041H13.9833ZM2.77084 13.2041H2.05894C1.86317 13.2041 1.70299 13.044 1.70299 12.8482V9.64463C1.70299 9.44885 1.86317 9.28867 2.05894 9.28867H2.77084V13.2041ZM15.7631 16.0517H8.57285C8.34148 16.0517 8.12791 15.9806 7.94993 15.8382L4.78197 13.5423C4.47941 13.3287 4.10566 13.2041 3.73191 13.2041H3.48275V9.28867H6.45494C6.84648 9.28867 7.23803 9.44885 7.50499 9.75141L10.8509 13.3821C10.9577 13.4889 11.0111 13.6313 10.9933 13.7915C10.9755 13.9338 10.9043 14.0762 10.7797 14.1652C10.5662 14.3254 10.2458 14.2898 10.0322 14.0762L6.82869 10.6057C6.68631 10.4633 6.47273 10.4455 6.33035 10.5879C6.25916 10.6591 6.22357 10.7481 6.22357 10.8549C6.22357 10.9438 6.25916 11.0328 6.31256 11.0862L9.49832 14.5567C9.72969 14.8059 10.0322 14.9483 10.3348 14.9661C10.3526 14.9661 10.3882 14.9661 10.406 14.9661H15.7453C16.0478 14.9661 16.2792 15.1975 16.2792 15.5C16.297 15.8026 16.0656 16.0517 15.7631 16.0517ZM12.3815 10.0006C14.9266 10.0006 17.0089 7.91826 17.0089 5.37321C17.0089 2.82816 14.9266 0.74585 12.3815 0.74585C9.83647 0.74585 7.75416 2.82816 7.75416 5.37321C7.75416 7.91826 9.83647 10.0006 12.3815 10.0006ZM12.3815 1.45775C14.535 1.45775 16.297 3.21971 16.297 5.37321C16.297 7.52672 14.535 9.28867 12.3815 9.28867C10.228 9.28867 8.46606 7.52672 8.46606 5.37321C8.46606 3.21971 10.228 1.45775 12.3815 1.45775ZM10.7086 7.04618C10.5662 6.9038 10.5662 6.69023 10.7086 6.54785L13.5562 3.70024C13.6985 3.55786 13.9121 3.55786 14.0545 3.70024C14.1969 3.84262 14.1969 4.05619 14.0545 4.19857L11.2069 7.04618C11.1357 7.11737 11.0467 7.15297 10.9577 7.15297C10.8687 7.15297 10.7797 7.11737 10.7086 7.04618ZM10.7086 4.19857C10.6374 4.12738 10.6018 4.0384 10.6018 3.94941C10.6018 3.93161 10.6018 3.89602 10.6018 3.87822C10.6018 3.86042 10.6196 3.84262 10.6196 3.80703C10.6196 3.78923 10.6374 3.77143 10.6552 3.75364C10.673 3.73584 10.673 3.71804 10.6908 3.70024C10.8153 3.55786 11.0645 3.55786 11.1891 3.70024C11.2069 3.71804 11.2247 3.73584 11.2247 3.75364C11.2425 3.77143 11.2425 3.78923 11.2603 3.80703C11.2781 3.82483 11.2781 3.84262 11.2781 3.87822C11.2781 3.89602 11.2781 3.93161 11.2781 3.94941C11.2781 4.0384 11.2425 4.12738 11.1713 4.19857C11.1357 4.26976 11.0467 4.30536 10.9577 4.30536C10.8687 4.30536 10.7797 4.26976 10.7086 4.19857ZM14.0545 6.54785C14.1257 6.61904 14.1613 6.70803 14.1613 6.79702C14.1613 6.886 14.1257 6.97499 14.0545 7.04618C14.0367 7.06398 14.0189 7.08178 14.0011 7.08178C13.9833 7.09958 13.9655 7.09958 13.9477 7.11737C13.9299 7.11737 13.9121 7.13517 13.8765 7.13517C13.8587 7.13517 13.8231 7.13517 13.8053 7.13517C13.7163 7.13517 13.6274 7.09958 13.5562 7.02839C13.485 6.97499 13.4494 6.886 13.4494 6.79702C13.4494 6.70803 13.485 6.61904 13.5562 6.54785C13.6451 6.45886 13.7519 6.42327 13.8765 6.45886C13.8943 6.45886 13.9121 6.47666 13.9477 6.47666C13.9655 6.49446 13.9833 6.49446 14.0011 6.51226C14.0189 6.51226 14.0367 6.53005 14.0545 6.54785Z"
                fill="#ACACAC"
              />
            </svg>

            <span>Pizza Deal</span></label
          >
        </div>
        <div class="form-item">
          <input type="checkbox" class="filter" id="sides" name="filter" />
          <label class="btn cust-checkbox" for="sides"
            ><svg
              width="13"
              height="18"
              viewBox="0 0 13 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.6956 5.68C12.5122 5.47823 12.2371 5.34983 11.9436 5.33149V4.59779C11.9436 3.99248 11.4483 3.49724 10.843 3.49724H10.4762C10.3478 3.49724 10.2194 3.51558 10.1093 3.55226V3.13038C10.1093 2.52508 9.61408 2.02983 9.00877 2.02983H8.64192C8.51352 2.02983 8.38512 2.04817 8.27507 2.08486V1.8464C8.27507 1.2411 7.77982 0.74585 7.17451 0.74585H6.80766C6.20236 0.74585 5.70711 1.2411 5.70711 1.8464V2.08486C5.59705 2.04817 5.46866 2.02983 5.34026 2.02983H4.97341C4.3681 2.02983 3.87285 2.52508 3.87285 3.13038V3.55226C3.7628 3.51558 3.6344 3.49724 3.506 3.49724H3.13915C2.53384 3.49724 2.03859 3.99248 2.03859 4.59779V5.33149C1.76346 5.34983 1.48832 5.47823 1.28655 5.68C1.08478 5.90011 0.974725 6.21194 0.993068 6.52376L1.80014 16.2453C1.83683 16.8139 2.33208 17.2542 2.9007 17.2542H11.0815C11.6501 17.2542 12.127 16.8139 12.182 16.2453L12.9891 6.52376C13.0075 6.21194 12.8974 5.91845 12.6956 5.68ZM10.1093 4.59779C10.1093 4.39602 10.2744 4.23094 10.4762 4.23094H10.843C11.0448 4.23094 11.2099 4.39602 11.2099 4.59779V5.33149C10.8614 5.33149 10.5312 5.51492 10.3294 5.79006L10.1093 6.10188V4.59779ZM8.27507 3.13038C8.27507 2.92862 8.44015 2.76353 8.64192 2.76353H9.00877C9.21054 2.76353 9.37562 2.92862 9.37562 3.13038V7.14741L9.28391 7.25746C9.02711 7.62431 8.67861 7.93614 8.27507 8.13791V3.13038ZM6.44081 1.8464C6.44081 1.64464 6.6059 1.47955 6.80766 1.47955H7.17451C7.37628 1.47955 7.54137 1.64464 7.54137 1.8464V8.3947C7.17451 8.46807 6.80766 8.46807 6.44081 8.3947V1.8464ZM4.60655 3.13038C4.60655 2.92862 4.77164 2.76353 4.97341 2.76353H5.34026C5.54203 2.76353 5.70711 2.92862 5.70711 3.13038V8.13791C5.30357 7.93614 4.95506 7.62431 4.69827 7.25746L4.60655 7.12906V3.13038ZM2.7723 4.59779C2.7723 4.39602 2.93738 4.23094 3.13915 4.23094H3.506C3.70777 4.23094 3.87285 4.39602 3.87285 4.59779V6.08354L3.67108 5.79006C3.46932 5.51492 3.13915 5.33149 2.7723 5.33149V4.59779ZM11.4483 16.1903C11.43 16.3737 11.2649 16.5205 11.0815 16.5205H2.9007C2.71727 16.5205 2.55219 16.3737 2.53384 16.1903L1.74511 6.46873C1.74511 6.35868 1.76346 6.26696 1.83683 6.19359C1.9102 6.12022 2.00191 6.08354 2.11196 6.08354H2.7723C2.9007 6.08354 3.01075 6.13857 3.06578 6.23028L4.09296 7.67934C4.55153 8.32133 5.21186 8.81658 5.96391 9.03669C6.62424 9.23846 7.3396 9.23846 8.01827 9.03669C8.77032 8.81658 9.44899 8.32133 9.88922 7.67934L10.9164 6.21194C10.9898 6.12022 11.0998 6.0652 11.2099 6.0652H11.8702C11.9803 6.0652 12.072 6.10188 12.1454 6.17525C12.2187 6.24862 12.2554 6.35868 12.2371 6.45039L11.4483 16.1903Z"
                fill="#ACACAC"
              />
              <path
                d="M6.9911 10.2839C5.02845 10.2839 3.50601 11.2561 3.50601 12.485C3.50601 13.714 5.02845 14.6862 6.9911 14.6862C8.95376 14.6862 10.4762 13.714 10.4762 12.485C10.4762 11.2561 8.95376 10.2839 6.9911 10.2839ZM6.9911 13.9525C5.50535 13.9525 4.23971 13.2738 4.23971 12.485C4.23971 11.6963 5.50535 11.0176 6.9911 11.0176C8.47685 11.0176 9.74249 11.6963 9.74249 12.485C9.74249 13.2738 8.47685 13.9525 6.9911 13.9525Z"
                fill="#ACACAC"
              />
            </svg>

            <span>Sides</span></label
          >
        </div>
        <div class="form-item">
          <input type="checkbox" class="filter" id="pizza2" name="filter" />
          <label class="btn cust-checkbox" for="pizza2"
            ><svg
              width="14"
              height="17"
              viewBox="0 0 14 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.91411 10.6473C6.16735 10.6473 5.58061 11.2341 5.58061 11.9631C5.58061 12.692 6.18513 13.2788 6.91411 13.2788C7.64309 13.2788 8.2476 12.692 8.2476 11.9631C8.2476 11.2341 7.66086 10.6473 6.91411 10.6473ZM6.91411 12.5676C6.55851 12.5676 6.29181 12.3009 6.29181 11.9631C6.29181 11.6252 6.57629 11.3585 6.91411 11.3585C7.25193 11.3585 7.53641 11.6252 7.53641 11.9631C7.53641 12.3009 7.25193 12.5676 6.91411 12.5676Z"
                fill="white"
              />
              <path
                d="M7.30526 9.02932C7.14524 9.17156 7.14524 9.42048 7.30526 9.58049C7.46528 9.72273 7.7142 9.72273 7.85644 9.58049C8.01646 9.43826 8.01646 9.18934 7.85644 9.02932C7.7142 8.8693 7.46528 8.8693 7.30526 9.02932Z"
                fill="white"
              />
              <path
                d="M6.94967 14.1677C6.78965 14.3278 6.78965 14.5589 6.94967 14.7189C7.10968 14.8612 7.3586 14.8612 7.50084 14.7189C7.66086 14.5767 7.66086 14.3278 7.50084 14.1677C7.3586 14.0077 7.10968 14.0077 6.94967 14.1677Z"
                fill="white"
              />
              <path
                d="M3.39368 5.11782C3.23366 5.26006 3.23366 5.50898 3.39368 5.669C3.5537 5.81123 3.80262 5.81123 3.94486 5.669C4.10488 5.52676 4.10488 5.27784 3.94486 5.11782C3.80262 4.9578 3.5537 4.9578 3.39368 5.11782Z"
                fill="white"
              />
              <path
                d="M13.546 2.30854C13.4216 2.02406 13.1726 1.8107 12.8882 1.70402C9.11882 0.406088 4.99387 0.423868 1.24231 1.77514C0.940047 1.88182 0.708908 2.11296 0.584449 2.37966C0.459989 2.66414 0.459989 2.98418 0.584449 3.26866L2.70026 8.17592L6.09623 16.0524C6.27403 16.4791 6.68297 16.7458 7.14525 16.7458C7.60752 16.7458 8.01646 16.4791 8.19426 16.0524L13.5638 3.19754C13.6705 2.91306 13.6705 2.59302 13.546 2.30854ZM3.39368 8.0159C3.41146 7.98034 3.41146 7.96256 3.42924 7.927C3.5537 7.67808 3.76706 7.4825 4.03376 7.37582C4.30046 7.28692 4.58493 7.3047 4.85163 7.42916C5.38503 7.67808 5.59839 8.31816 5.34947 8.85156C5.22501 9.10048 5.01165 9.29606 4.74495 9.38496C4.49603 9.47386 4.22934 9.45608 3.98042 9.36718L3.39368 8.0159ZM11.448 6.38015C11.2524 5.59783 10.5412 5.01109 9.70556 5.01109C8.70988 5.01109 7.892 5.81119 7.892 6.80686C7.892 7.80254 8.6921 8.60264 9.70556 8.60264C10.0434 8.60264 10.3634 8.51374 10.6301 8.33594L7.5364 15.768C7.42972 16.0169 7.19859 16.0347 7.14525 16.0347C7.07413 16.0347 6.84299 16.0169 6.75409 15.7857L4.31823 10.1673C4.33601 10.1673 4.37158 10.1673 4.38935 10.1673C4.58493 10.1673 4.78051 10.1317 4.97609 10.0606C5.42059 9.90057 5.77619 9.58053 5.98955 9.15382C6.20291 8.7271 6.22069 8.24704 6.06067 7.80254C5.90065 7.35804 5.58061 6.98466 5.15389 6.78909C4.42491 6.43349 3.5537 6.62907 3.03808 7.23358L1.90016 4.54881C3.0203 4.10431 4.19378 3.80206 5.38503 3.65982C5.31391 3.81984 5.27835 3.97986 5.27835 4.15765C5.27835 4.88663 5.88287 5.47337 6.61185 5.47337C7.34082 5.47337 7.94534 4.88663 7.94534 4.15765C7.94534 3.9443 7.892 3.74872 7.8031 3.5887C9.3144 3.65982 10.7901 3.99764 12.2125 4.56659L11.448 6.38015ZM10.7901 6.80686C10.7901 7.41138 10.2923 7.89144 9.68778 7.89144C9.08326 7.89144 8.58542 7.3936 8.58542 6.80686C8.58542 6.20235 9.08326 5.72229 9.68778 5.72229C10.3101 5.72229 10.7901 6.20235 10.7901 6.80686ZM5.98955 4.13987C5.98955 3.8554 6.20291 3.62426 6.46961 3.55314C6.55851 3.55314 6.64741 3.55314 6.73631 3.55314C7.02079 3.60648 7.23414 3.8554 7.23414 4.13987C7.23414 4.47769 6.94967 4.74439 6.61185 4.74439C6.27403 4.74439 5.98955 4.47769 5.98955 4.13987ZM12.8882 2.91306L12.4792 3.89096C10.6657 3.16198 8.70988 2.80638 6.77187 2.84194C6.71853 2.84194 6.66519 2.82416 6.59407 2.82416C6.52295 2.82416 6.43405 2.82416 6.36293 2.84194C4.72717 2.91306 3.1092 3.26866 1.5979 3.87318L1.20675 2.9664C1.17119 2.85972 1.17119 2.75304 1.20675 2.64636C1.26009 2.53968 1.34899 2.46856 1.45567 2.41522C5.04721 1.13507 9.01214 1.11729 12.6392 2.36188C12.7459 2.39744 12.8348 2.46856 12.8882 2.57524C12.9415 2.6997 12.9415 2.80638 12.8882 2.91306Z"
                fill="white"
              />
            </svg>
            <span>Pizza</span></label
          >
        </div>
      </div>
    </form>
  </section>

  <section class="menu-row">
    <div class="row">
      <div class="col-xl-3">
        <div class="menu-item">
          <figure>
            <img src="./img/menu1.png" alt="" />
          </figure>
          <div class="veg-no">
            <svg
              class="veg"
              width="23"
              height="22"
              viewBox="0 0 23 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="11.2315" cy="11" r="5" />
              <path
                d="M1.23149 2H21.2315V-2H1.23149V2ZM20.2315 1V21H24.2315V1H20.2315ZM21.2315 20H1.23149V24H21.2315V20ZM2.23149 21V1H-1.76851V21H2.23149ZM1.23149 20C1.78378 20 2.23149 20.4477 2.23149 21H-1.76851C-1.76851 22.6569 -0.425362 24 1.23149 24V20ZM20.2315 21C20.2315 20.4477 20.6792 20 21.2315 20V24C22.8883 24 24.2315 22.6569 24.2315 21H20.2315ZM21.2315 2C20.6792 2 20.2315 1.55229 20.2315 1H24.2315C24.2315 -0.656855 22.8883 -2 21.2315 -2V2ZM1.23149 -2C-0.425364 -2 -1.76851 -0.656853 -1.76851 1H2.23149C2.23149 1.55228 1.78378 2 1.23149 2V-2Z"
              />
            </svg>
          </div>
          <div class="menu-infos">
            <h3>Mozzerella Pizza</h3>
            <div class="select-size">
              <div class="size-item">
                <input type="checkbox" name="size" id="9" />
                <label for="9">9''</label>
              </div>
              <div class="size-item">
                <input type="checkbox" name="size" id="12" />
                <label for="12">12''</label>
              </div>
              <div class="size-item">
                <input type="checkbox" name="size" id="15" />
                <label for="15">15''</label>
              </div>
              <div class="size-item">
                <input type="checkbox" name="size" id="18" />
                <label for="18">18''</label>
              </div>
            </div>
            <h2><span>$</span>4.98</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
