{% extends 'layout/_layout.twig' %} {% block title %}Order History - Berlin
Pizza {% endblock %} {% block javascripts %} {% endblock %} {% block contents %}

<div class="oderhistory-page order-detail">
    <div class="row">
      <div class="col-12">
        <div class="order--title">
          <h3>Order History</h3>
          <div class="order-number">Order ID: <span> BP45784512</span></div>
        </div>
        <div class="order-date">
            <span>Sunday, May 2, 2021</span>
        </div>
        <div class="order-card">
            <div class="status">
                <span class="success">Delivered</span>
            </div>
            <div class="order-row">
                <div class="order-items">
                    <div class="item">
                        <div class="img">
                            <figure>
                                <img src="./img/menu1.png" alt="">
                            </figure>
                        </div>
                        <div class="desc">
                            <div class="title">
                                <h4>Mozzerella Pizza <span>x2</span></h4>
                            </div>
                            <div class="feat">
                                <strong class="bl">18''</strong>
                                <strong>Garlic & Herb</strong>
                            </div>
                            <div class="toppings">
                                <div class="itm bl">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                          Extra Dips
                                        </a>                                      
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                          <li>Dip 1</li>
                                          <li>Dip 2</li>
                                          <li>Dip 3</li>
                                        </ul>
                                      </div>
                                </div>
                                <div class="itm">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                          Toppings
                                        </a>                                      
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                          <li>Toppings 1</li>
                                          <li>Toppings 2</li>
                                          <li>Toppings 3</li>
                                        </ul>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <figure>
                                <img src="./img/menu2.png" alt="">
                            </figure>
                        </div>
                        <div class="desc">
                            <div class="title">
                                <h4>Mozzerella Pizza <span>x2</span></h4>
                            </div>
                            <div class="feat">
                                <strong class="bl">18''</strong>
                                <strong>Garlic & Herb</strong>
                            </div>
                            <div class="toppings">
                                <div class="itm bl">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                          Extra Dips
                                        </a>                                      
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                          <li>Dip 1</li>
                                          <li>Dip 2</li>
                                          <li>Dip 3</li>
                                        </ul>
                                      </div>
                                </div>
                                <div class="itm">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                          Toppings
                                        </a>                                      
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                          <li>Toppings 1</li>
                                          <li>Toppings 2</li>
                                          <li>Toppings 3</li>
                                        </ul>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <figure>
                                <img  src="./img/coke1.png" alt="">
                            </figure>
                        </div>
                        <div class="desc">
                            <div class="title">
                                <h4>Mozzerella Pizza</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <figure>
                                <img src="./img/coke2.png" alt="">
                            </figure>
                        </div>
                        <div class="desc">
                            <div class="title">
                                <h4>Mozzerella Pizza <span>x12</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-action">
                    <a href="" class="btn btn-trans">Reorder</a>
                    <a href="" class="btn btn-trans">Get Invoice</a>
                </div>
            </div>
        </div>
      </div>
  </section>
</div>

{% endblock %}
