<div
  class="offcanvas offcanvas-end cart"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="addFood"
>
  <div class="offcanvas-header">
    <div class="section--title--wrapper">
      <h2 class="section--title white"></h2>
      <button
        class="title--link btn-close text-reset"
        data-bs-dismiss="offcanvas"
      ></button>
    </div>
  </div>
  <div class="offcanvas-body">
    <figure class="image">
      <img src="./img/menu1.png" alt="" />
    </figure>
    {# <form class="form" action="#!" method="post">
      <h2 class="section--title white">Food Details</h2>

      <div class="d-flex cart-middle">
        <div class="cart__wrapper">
          <span class="dec">-</span>
          <input type="number" value="1" min="0" max="10" readonly />
          <span class="inc">+</span>
        </div>
        <h2 class="totalPrice white section--title">
          <span>Rs</span> <b>550</b>
        </h2>
      </div>
    </form> #}

    <div class="cart-items mb-2">
      <h2 class="section--title white">Who can eat?</h2>
      <div class="item">
        <div class="head">
        <ul>
        <li>
          Non-vegeterian
        </li>
        <li>
          Non-vegeterian
        </li>
        <li>
          Non-vegeterian
        </li>
        </ul>
        </div>
      </div>
    </div>
    <div class="cart-items">
      <h2 class="section--title white">Who can not eat?</h2>
      <div class="item">
        <div class="head">
        <ul>
        <li>
          Non-vegeterian
        </li>
        <li>
          Non-vegeterian
        </li>
        <li>
          Non-vegeterian
        </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
