<div
  class="offcanvas offcanvas-end cart"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="cart"
>
  <div class="offcanvas-header">
    <h2 class="section--title white text-center w-100">Your Order</h2>
  </div>
  <div class="offcanvas-body">
    <div class="time text-center">
      <span>Store Opens at 12</span>
    </div>
    <div class="tabs">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <div
            class="nav-link tab-item active"
            id="delivery-tab"
            data-bs-toggle="tab"
            data-bs-target="#delivery"
            type="button"
            role="tab"
            aria-controls="delivery"
            aria-selected="true"
          >
            <div class="icon">
              <svg
                width="19"
                height="18"
                viewBox="0 0 19 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.7394 5.87089L15.3394 3.0244V1.58139C15.3394 0.711623 14.5394 0 13.5616 0H5.11717C4.1394 0 3.3394 0.711623 3.3394 1.58139V3.0244L0.939396 5.87089C0.761618 6.06857 0.672729 6.32554 0.672729 6.58252V16.6045C0.672729 17.2569 1.27273 17.7906 2.00606 17.7906H16.6727C17.4061 17.7906 18.0061 17.2569 18.0061 16.6045V6.58252C18.0061 6.32554 17.9172 6.08833 17.7394 5.87089ZM4.22828 1.58139C4.22828 1.1465 4.62828 0.790693 5.11717 0.790693H13.5616C14.0505 0.790693 14.4505 1.1465 14.4505 1.58139V2.76742H12.5172C12.2727 2.29301 11.7394 1.97673 11.1172 1.97673H7.56162C6.93939 1.97673 6.40606 2.29301 6.16162 2.76742H4.22828V1.58139ZM11.7838 3.36044C11.7838 3.67672 11.4949 3.95346 11.1172 3.95346H7.56162C7.18384 3.95346 6.89495 3.67672 6.89495 3.36044C6.89495 3.0244 7.18384 2.76742 7.56162 2.76742H11.1172C11.4949 2.76742 11.7838 3.0244 11.7838 3.36044ZM17.1172 16.6045C17.1172 16.822 16.9172 16.9999 16.6727 16.9999H2.00606C1.76162 16.9999 1.56162 16.822 1.56162 16.6045V6.58252C1.56162 6.50345 1.58384 6.42438 1.65051 6.34531L4.00606 3.55812H6.02828C6.13939 4.23021 6.78384 4.74416 7.56162 4.74416H11.1172C11.8949 4.74416 12.5394 4.23021 12.6505 3.55812H14.6727L17.0283 6.34531C17.0949 6.40461 17.1172 6.50345 17.1172 6.58252V16.6045Z"
                />
                <path
                  d="M14.41 8.82944C13.4822 6.51297 10.7134 5.18784 8.00879 5.83247C5.3042 6.47711 3.6512 8.85617 4.14974 11.275C3.55026 11.4997 3.22182 12.0896 3.39437 12.6624C3.56691 13.2352 4.17718 13.5809 4.80696 13.5331L5.1578 14.6979C5.47414 15.748 6.69888 16.377 7.87946 16.0956L13.8897 14.6631C15.0702 14.3817 15.7773 13.2923 15.461 12.2421L15.1102 11.0774C15.6824 10.8387 16.0166 10.2679 15.8441 9.69505C15.6715 9.12223 15.0555 8.75744 14.41 8.82944ZM8.23885 6.59623C10.4497 6.06926 12.7501 7.13768 13.5457 9.01499L5.00259 11.0512C4.63633 9.07159 6.02796 7.12319 8.23885 6.59623ZM14.6024 12.4468C14.7922 13.0769 14.3679 13.7305 13.6596 13.8994L7.64939 15.3319C6.94105 15.5007 6.2062 15.1233 6.0164 14.4932L5.67131 13.3476L6.74456 13.0918L8.31778 14.1903C8.40518 14.2513 8.52976 14.283 8.64284 14.2765C8.6643 14.2714 8.68577 14.2663 8.68577 14.2663C8.79309 14.2407 8.86745 14.182 8.92034 14.1285L10.5224 12.1913L14.2573 11.3011L14.6024 12.4468ZM7.81781 12.836L9.17011 12.5137L8.51127 13.3051L7.81781 12.836ZM14.6712 10.3839L4.7973 12.7373C4.56118 12.7936 4.31623 12.6678 4.25297 12.4578C4.1897 12.2477 4.33112 12.0299 4.56724 11.9736L14.4411 9.62014C14.6773 9.56386 14.9222 9.68966 14.9855 9.89969C15.0487 10.1097 14.9073 10.3276 14.6712 10.3839Z"
                />
                <path
                  d="M9.7838 7.90768C10.0293 7.90768 10.2282 7.73051 10.2282 7.51195C10.2282 7.29339 10.0293 7.11621 9.7838 7.11621C9.53834 7.11621 9.33936 7.29339 9.33936 7.51195C9.33936 7.73051 9.53834 7.90768 9.7838 7.90768Z"
                />
                <path
                  d="M7.33941 8.69846C7.58487 8.69846 7.78385 8.52128 7.78385 8.30272C7.78385 8.08416 7.58487 7.90698 7.33941 7.90698C7.09394 7.90698 6.89496 8.08416 6.89496 8.30272C6.89496 8.52128 7.09394 8.69846 7.33941 8.69846Z"
                />
                <path
                  d="M8.89489 9.29147C9.14035 9.29147 9.33933 9.1143 9.33933 8.89574C9.33933 8.67718 9.14035 8.5 8.89489 8.5C8.64942 8.5 8.45044 8.67718 8.45044 8.89574C8.45044 9.1143 8.64942 9.29147 8.89489 9.29147Z"
                />
              </svg>
            </div>
            <div class="info">
              <h4>Delivery</h4>
              <small>Starts at: 12:40 pm</small>
            </div>
          </div>
        </li>
        <li class="nav-item" role="presentation">
          <div
            class="tab-item nav-link"
            id="collection-tab"
            data-bs-toggle="tab"
            data-bs-target="#collection"
            type="button"
            role="tab"
            aria-controls="collection"
            aria-selected="false"
          >
            <div class="icon">
              <svg
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.96 3.8L16.18 0.62C15.96 0.24 15.56 0 15.14 0H2.86C2.42 0 2.02 0.24 1.82 0.62L0.04 3.8C0.02 3.86 0 3.94 0 4V16.8C0 17.46 0.54 18 1.2 18H16.8C17.46 18 18 17.46 18 16.8V4C18 3.94 17.98 3.86 17.96 3.8ZM13.8 0.8H15.14C15.28 0.8 15.42 0.88 15.48 1L16.92 3.6H13.8V0.8ZM9.4 0.8H13V3.6H9.4V0.8ZM9.4 4.4H13V4.6C13 5.6 12.2 6.4 11.2 6.4C10.2 6.4 9.4 5.6 9.4 4.6V4.4ZM5 0.8H8.6V3.6H5V0.8ZM5 4.4H8.6V4.6C8.6 5.6 7.8 6.4 6.8 6.4C5.8 6.4 5 5.6 5 4.6V4.4ZM4.62 6.02C5.08 6.72 5.88 7.2 6.8 7.2C7.72 7.2 8.54 6.72 9 5.98C9.46 6.72 10.28 7.2 11.2 7.2C12.12 7.2 12.92 6.72 13.38 6.02C13.78 6.64 14.44 7.1 15.2 7.18V14.8C15.2 15.02 15.02 15.2 14.8 15.2H3.2C2.98 15.2 2.8 15.02 2.8 14.8V7.18C3.56 7.08 4.24 6.64 4.62 6.02ZM2.52 1C2.6 0.88 2.72 0.8 2.86 0.8H4.2V3.6H1.08L2.52 1ZM0.8 4.4H4.2V4.7C4.2 5.64 3.44 6.4 2.5 6.4C1.56 6.4 0.8 5.64 0.8 4.7V4.4ZM17.2 16.8C17.2 17.02 17.02 17.2 16.8 17.2H1.2C0.98 17.2 0.8 17.02 0.8 16.8V6.52C1.14 6.82 1.54 7.04 2 7.14V14.8C2 15.46 2.54 16 3.2 16H14.8C15.46 16 16 15.46 16 14.8V7.16C16.46 7.06 16.86 6.84 17.2 6.54V16.8ZM17.2 4.7C17.2 5.64 16.44 6.4 15.5 6.4C14.56 6.4 13.8 5.64 13.8 4.7V4.4H17.2V4.7Z"
                  fill="white"
                />
                <path
                  d="M10.2 14C10.3 14 10.42 13.96 10.5 13.86L12.7 11.46C12.86 11.3 12.84 11.04 12.68 10.9C12.52 10.74 12.26 10.76 12.12 10.92L9.92001 13.32C9.76001 13.48 9.78001 13.74 9.94001 13.88C10 13.96 10.1 14 10.2 14Z"
                  fill="white"
                />
                <path
                  d="M12.3 13.96C12.38 14.02 12.46 14.06 12.56 14.06C12.68 14.06 12.78 14.02 12.86 13.92L13.9 12.68C14.04 12.52 14.02 12.26 13.86 12.12C13.7 11.98 13.44 12 13.3 12.16L12.24 13.4C12.1 13.56 12.12 13.82 12.3 13.96Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="info">
              <h4>Collection</h4>
              <small>Starts at: 12:40 pm</small>
            </div>
          </div>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="delivery"
          role="tabpanel"
          aria-labelledby="delivery-tab"
        >
          <form action="">
            <div class="form-item">
              <label for="postcode">Enter Delivery PostCode</label>
              <input type="text" id="postcode" />
            </div>
            <div class="form-item">
              <button class="btn">Check Delivery</button>
              <small><a href="#!">Dont't know postcode?</a></small>
            </div>
          </form>
        </div>
        <div
          class="tab-pane fade collection-list"
          id="collection"
          role="tabpanel"
          aria-labelledby="collection-tab"
        >
          <h4>You can collect your order during</h4>
          <ul>
            <li>10:00</li>
            <li>10:30</li>
            <li>11:00</li>
            <li>10:30</li>
            <li>11:00</li>
            <li>11:30</li>
            <li>12:00</li>
            <li>12:30</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cart-items">
      <div class="item">
        <div class="head">
          <h3>Mozzarella Pizza</h3>
          <div class="label">
            <label class="lbl">18"</label>
            <label class="lbl">Garlic & Herb</label>
          </div>
        </div>
        <div class="body">
          <div class="ind">
            <h4>Extra Dips</h4>
            <ul>
              <li>Garlic & Herb</li>
              <li>Sweek Chill</li>
              <li>Garlic Mayo</li>
            </ul>
          </div>
          <div class="ind">
            <h4>Extra Toppings</h4>
            <ul>
              <li>Tandori Chicken</li>
              <li>Bacon</li>
              <li>Meatball</li>
              <li>Meatball</li>
              <li>Meatball</li>
            </ul>
          </div>
        </div>
        <div class="foot">
          <div class="d-flex cart-middle">
            <div class="cart__wrapper">
              <span class="dec">-</span>
              <input type="number" value="1" min="0" max="10" readonly />
              <span class="inc">+</span>
            </div>
            <h2 class="totalPrice white section--title">
              <span>£</span><b price="25.65">25.65</b>
            </h2>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="head">
          <h3>Mozzarella Pizza</h3>
          <div class="label">
            <label class="lbl">18"</label>
            <label class="lbl">Garlic & Herb</label>
          </div>
        </div>
        <div class="body">
          <div class="ind">
            <h4>Extra Dips</h4>
            <ul>
              <li>Garlic & Herb</li>
              <li>Sweek Chill</li>
              <li>Garlic Mayo</li>
            </ul>
          </div>
          <div class="ind">
            <h4>Extra Toppings</h4>
            <ul>
              <li>Tandori Chicken</li>
              <li>Bacon</li>
              <li>Meatball</li>
              <li>Meatball</li>
              <li>Meatball</li>
            </ul>
          </div>
        </div>
        <div class="foot">
          <div class="d-flex cart-middle">
            <div class="cart__wrapper">
              <span class="dec">-</span>
              <input type="number" value="1" min="0" max="10" readonly />
              <span class="inc">+</span>
            </div>
            <h2 class="totalPrice white section--title">£25.65</h2>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="head">
          <h3>Mozzarella Pizza</h3>
          <div class="label">
            <label class="lbl">18"</label>
            <label class="lbl">Garlic & Herb</label>
          </div>
        </div>
        <div class="body">
          <div class="ind">
            <h4>Extra Dips</h4>
            <ul>
              <li>Garlic & Herb</li>
              <li>Sweek Chill</li>
              <li>Garlic Mayo</li>
            </ul>
          </div>
          <div class="ind">
            <h4>Extra Toppings</h4>
            <ul>
              <li>Tandori Chicken</li>
              <li>Bacon</li>
              <li>Meatball</li>
              <li>Meatball</li>
              <li>Meatball</li>
            </ul>
          </div>
        </div>
        <div class="foot">
          <div class="d-flex cart-middle">
            <div class="cart__wrapper">
              <span class="dec">-</span>
              <input type="number" value="1" min="0" max="10" readonly />
              <span class="inc">+</span>
            </div>
            <h2 class="totalPrice white section--title">£25.65</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="totals">
      <div class="field">
        <span>Sub Total</span>
        <strong>£205.65</strong>
      </div>
      <div class="field">
        <span>Delivery</span>
        <strong>£5</strong>
      </div>
      <hr />
      <div class="field">
        <span>Total</span>
        <strong>£210.65</strong>
      </div>
      <div class="form-item">
        <label for="instruction">Instruction (if any)</label>
        <textarea name="" id="instruction" cols="30" rows="10"></textarea>
      </div>
      <div class="form-item">
        <button class="btn">Checkout</button>
      </div>
    </div>
  </div>
</div>
