<!-- Extra Toppings and Dip  -->

<div
  class="modal fade modal--common modal--extra"
  id="extraTopping"
  tabindex="-1"
  {#
  data-bs-backdrop="false"
  #}
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form>
        <div class="modal-body">
          <h2 class="section--title">Extra Dips</h2>
          <div class="row">
            <div class="col-md-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="extra"
                  id="extraDips01"
                />
                <label class="form-check-label" for="extraDips01" price="0.35">
                  <span>Extra BBQ</span>
                  <small class="text-muted">+£0.35</small>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="extra"
                  id="extraDips02"
                />
                <label class="form-check-label" for="extraDips02" price="0.35">
                  <span>Extra Garlic & Herb</span>
                  <small class="text-muted">+£0.35</small>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="extra"
                  id="extraDips03"
                />
                <label class="form-check-label" for="extraDips03" price="0.35">
                  <span>Extra chilli</span>
                  <small class="text-muted">+£0.35</small>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="extra"
                  id="extraDips04"
                />
                <label class="form-check-label" for="extraDips04" price="0.35">
                  <span>Extra Sweet Chilli</span>
                  <small class="text-muted">+£0.35</small>
                </label>
              </div>
            </div>
          </div>
          <h2 class="section--title">Extra Toppings</h2>
          <div class="row">
            <div class="col-md-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="extra"
                  id="extraTopping01"
                />
                <label
                  class="form-check-label"
                  for="extraTopping01"
                  price="0.35"
                >
                  <span>Extra BBQ</span>
                  <small class="text-muted">+£0.35</small>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="extra"
                  id="extraTopping02"
                />
                <label
                  class="form-check-label"
                  for="extraTopping02"
                  price="0.35"
                >
                  <span>Extra Garlic & Herb</span>
                  <small class="text-muted">+£0.35</small>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="extra"
                  id="extraTopping03"
                />
                <label
                  class="form-check-label"
                  for="extraTopping03"
                  price="0.35"
                >
                  <span>Extra chilli</span>
                  <small class="text-muted">+£0.35</small>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="extra"
                  id="extraTopping04"
                />
                <label
                  class="form-check-label"
                  for="extraTopping04"
                  price="0.35"
                >
                  <span>Extra Sweet Chilli</span>
                  <small class="text-muted">+£0.35</small>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="extra"
                  id="extraTopping05"
                />
                <label
                  class="form-check-label"
                  for="extraTopping05"
                  price="0.35"
                >
                  <span>Extra BBQ</span>
                  <small class="text-muted">+£0.35</small>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="extra"
                  id="extraTopping06"
                />
                <label
                  class="form-check-label"
                  for="extraTopping06"
                  price="0.35"
                >
                  <span>Extra Garlic & Herb</span>
                  <small class="text-muted">+£0.35</small>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="extra"
                  id="extraTopping07"
                />
                <label
                  class="form-check-label"
                  for="extraTopping07"
                  price="0.35"
                >
                  <span>Extra chilli</span>
                  <small class="text-muted">+£0.35</small>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="extra"
                  id="extraTopping08"
                />
                <label
                  class="form-check-label"
                  for="extraTopping08"
                  price="0.35"
                >
                  <span>Extra Sweet Chilli</span>
                  <small class="text-muted">+£0.35</small>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="buttons">
            <button
              class="btn btn-secondary"
              type="button"
              data-bs-dismiss="modal"
            >
              Discard
            </button>
            <button class="btn" data-bs-target="#addFood" type="submit">
              Add to order
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
