<header class="header">
  <div class="header__left">
    <div class="search--box">
      <form action="">
        <div class="form-group">
          <svg
            width="15"
            height="15"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.875 11.875C9.63642 11.875 11.875 9.63642 11.875 6.875C11.875 4.11358 9.63642 1.875 6.875 1.875C4.11358 1.875 1.875 4.11358 1.875 6.875C1.875 9.63642 4.11358 11.875 6.875 11.875Z"
              stroke="#414142"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M13.125 13.125L10.4062 10.4062"
              stroke="#414142"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <input type="text" placeholder="What would you like to eat?" />
        </div>
      </form>
    </div>
  </div>
  <div class="header__right">
    <div class="user--actions">
      <div class="buttons">
        <button
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#login"
        >
          <svg
            width="15"
            height="15"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.5 13.125V11.875C12.5 11.212 12.2366 10.5761 11.7678 10.1072C11.2989 9.63839 10.663 9.375 10 9.375H5C4.33696 9.375 3.70107 9.63839 3.23223 10.1072C2.76339 10.5761 2.5 11.212 2.5 11.875V13.125"
              stroke="#111111"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7.5 6.875C8.88071 6.875 10 5.75571 10 4.375C10 2.99429 8.88071 1.875 7.5 1.875C6.11929 1.875 5 2.99429 5 4.375C5 5.75571 6.11929 6.875 7.5 6.875Z"
              stroke="#111111"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <span>SignUp</span>
        </button>
        <button
          class="btn"
          data-bs-toggle="offcanvas"
          data-bs-target="#cart"
          aria-controls="offcanvasExample"
        >
          <svg
            width="16"
            height="15"
            viewBox="0 0 16 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.67046 13.75C6.01842 13.75 6.30051 13.4702 6.30051 13.125C6.30051 12.7798 6.01842 12.5 5.67046 12.5C5.32249 12.5 5.04041 12.7798 5.04041 13.125C5.04041 13.4702 5.32249 13.75 5.67046 13.75Z"
              stroke="#414142"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12.601 13.75C12.949 13.75 13.231 13.4702 13.231 13.125C13.231 12.7798 12.949 12.5 12.601 12.5C12.253 12.5 11.9709 12.7798 11.9709 13.125C11.9709 13.4702 12.253 13.75 12.601 13.75Z"
              stroke="#414142"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M0.630066 0.625H3.15027L4.8388 8.99375C4.89642 9.2815 5.05422 9.53997 5.28459 9.72394C5.51496 9.9079 5.80322 10.0056 6.0989 10H12.223C12.5187 10.0056 12.8069 9.9079 13.0373 9.72394C13.2677 9.53997 13.4255 9.2815 13.4831 8.99375L14.4912 3.75H3.78032"
              stroke="#414142"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <span>View Order</span>
        </button>
      </div>
    </div>
  </div>
</header>

<!--LoginSingup Modal -->
<div
  class="modal login-modal fade"
  id="login"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="row">
        <div class="col-xl-6">
          <div class="form">
            <div class="signup active">
              <h3>Sign Up</h3>
              <form action="">
                <div class="form-group">
                  <label for="name">Full Name</label>
                  <input type="text" id="name" />
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" id="email" />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" id="password"></textarea>
                </div>
                <div class="form-group">
                  <label for="password2">Confirm Password</label>
                  <input type="password" id="password2"></textarea>
                </div>
                <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input type="text" id="phone">
                </div>
                <div class="form-group">
                  <button class="btn">
                    <span>Sign Up</span>
                  </button>
                  <small>Already a user? <span id="loginbtn">Login</span></small>
                </div>
              </form>
            </div>            
            <div class="login ">
              <h3>Login</h3>
              <form action="">
                <div class="form-group">
                  <label for="log_email">Email</label>
                  <input type="text" id="log_email" />
                </div>
                <div class="form-group">
                  <label for="log_password">Password</label>
                  <input type="password" id="log_password"></textarea>
                </div>
                <div class="form-group">
                  <button class="btn">
                    <span>Sign Up</span>
                  </button>
                  <small>Don't have an account? <span id="signbtn">Signup</span></small>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="sayings">
            <div class="box">
              <p>
                Molestias in qui culpa. Voluptas deleniti autem natus
                perferendis eum esse. Voluptatem ipsa vel
              </p>
              <span>-user76</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
