<aside class="nav--left">
  <a href="./index.html" class="logo" title="Berlin Pizza">
    <img src="./img/logo.png" alt="Berlin Pizza" />
  </a>
  <nav class="nav nav-column">
    <li class="nav--item">
      <a href="#" class="nav--link">
        <svg
          width="19"
          height="24"
          viewBox="0 0 19 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M17 0.759521H4.5C3.4 0.759521 2.5 1.65952 2.5 2.75952H1.5C0.675 2.75952 0 3.43452 0 4.25952V4.75952C0 5.58452 0.675 6.25952 1.5 6.25952H2.5V7.75952H1.5C0.675 7.75952 0 8.43452 0 9.25952V9.75952C0 10.5845 0.675 11.2595 1.5 11.2595H2.5V12.7595H1.5C0.675 12.7595 0 13.4345 0 14.2595V14.7595C0 15.5845 0.675 16.2595 1.5 16.2595H2.5V17.7595H1.5C0.675 17.7595 0 18.4345 0 19.2595V19.7595C0 20.5845 0.675 21.2595 1.5 21.2595H2.5C2.5 22.3595 3.4 23.2595 4.5 23.2595H17C18.1 23.2595 19 22.3595 19 21.2595V2.75952C19 1.65952 18.1 0.759521 17 0.759521ZM1.5 5.25952C1.225 5.25952 1 5.03452 1 4.75952V4.25952C1 3.98452 1.225 3.75952 1.5 3.75952H2.5V5.25952H1.5ZM1.5 10.2595C1.225 10.2595 1 10.0345 1 9.75952V9.25952C1 8.98452 1.225 8.75952 1.5 8.75952H2.5V10.2595H1.5ZM1.5 15.2595C1.225 15.2595 1 15.0345 1 14.7595V14.2595C1 13.9845 1.225 13.7595 1.5 13.7595H2.5V15.2595H1.5ZM1.5 20.2595C1.225 20.2595 1 20.0345 1 19.7595V19.2595C1 18.9845 1.225 18.7595 1.5 18.7595H2.5V20.2595H1.5ZM18 21.2595C18 21.8095 17.55 22.2595 17 22.2595H4.5C3.95 22.2595 3.5 21.8095 3.5 21.2595V20.7595V18.2595V15.7595V13.2595V10.7595V8.25952V5.75952V3.25952V2.75952C3.5 2.20952 3.95 1.75952 4.5 1.75952H17C17.55 1.75952 18 2.20952 18 2.75952V21.2595ZM15.5 16.0095H12.2L12.45 15.8095C13.175 15.2095 13.475 14.4095 13.225 13.6595C13 13.0095 12.45 12.5595 11.825 12.5095C11.45 12.4845 11.05 12.6095 10.75 12.8095C10.475 12.6095 10.125 12.4845 9.775 12.4845C9.75 12.4845 9.7 12.4845 9.675 12.4845C9.05 12.5095 8.5 12.9845 8.3 13.6345C8.05 14.3845 8.35 15.2095 9.075 15.8095L9.325 16.0095H6C5.825 16.0095 5.675 16.0845 5.575 16.2345C5.475 16.3845 5.475 16.5345 5.525 16.7095L6.525 19.2095C6.6 19.4095 6.775 19.5345 7 19.5345H14.5C14.7 19.5345 14.9 19.4095 14.975 19.2095L15.975 16.7095C16.025 16.5595 16.025 16.3845 15.925 16.2345C15.825 16.0845 15.675 16.0095 15.5 16.0095ZM9.225 13.9595C9.3 13.7095 9.525 13.5345 9.725 13.5095H9.775C10 13.5095 10.225 13.6095 10.35 13.8095C10.45 13.9345 10.6 14.0095 10.75 14.0095C10.9 14.0095 11.075 13.9345 11.15 13.8095C11.275 13.6095 11.5 13.5095 11.725 13.5095H11.775C11.975 13.5095 12.2 13.7095 12.275 13.9595C12.4 14.3095 12.225 14.7095 11.825 15.0345L10.75 15.8845L9.7 15.0595C9.275 14.7095 9.125 14.3095 9.225 13.9595ZM14.15 18.5095H7.35L6.75 17.0095H14.75L14.15 18.5095ZM11.5 6.00952H11.25V5.00952C11.25 4.73452 11.025 4.50952 10.75 4.50952C10.475 4.50952 10.25 4.73452 10.25 5.00952V6.00952H10C7.525 6.00952 5.5 8.03452 5.5 10.5095C5.5 10.7845 5.725 11.0095 6 11.0095H15.5C15.775 11.0095 16 10.7845 16 10.5095C16 8.03452 13.975 6.00952 11.5 6.00952ZM6.525 10.0095C6.775 8.30952 8.225 7.00952 10 7.00952H11.5C13.25 7.00952 14.725 8.30952 14.975 10.0095H6.525Z"
            fill="#414142"
          />
        </svg>

        <span>Food Menu</span>
      </a>
    </li>
    <li class="nav--item">
      <a href="#" class="nav--link">
        <svg
          width="23"
          height="24"
          viewBox="0 0 23 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.25 4.75957H18.625L19.175 2.38457L21.4 1.70957C21.675 1.63457 21.825 1.35957 21.725 1.08457C21.65 0.83457 21.375 0.65957 21.1 0.75957L18.6 1.50957C18.425 1.55957 18.3 1.70957 18.25 1.88457L17.6 4.75957H10.25C9.425 4.75957 8.75 5.43457 8.75 6.25957V7.25957C8.75 7.53457 8.975 7.75957 9.25 7.75957H9.8L10.025 9.65957C9.3 9.40957 8.55 9.25957 7.75 9.25957C4.25 9.25957 1.375 12.0596 1.25 15.5346C0.65 15.8846 0.25 16.5346 0.25 17.2596C0.25 18.0096 0.65 18.6346 1.25 18.9846V21.2596C1.25 22.3596 2.15 23.2596 3.25 23.2596H12.25C12.325 23.2596 12.4 23.2596 12.475 23.2346H18.6C19.35 23.2346 20 22.6596 20.1 21.9096L21.7 7.75957H22.25C22.525 7.75957 22.75 7.53457 22.75 7.25957V6.25957C22.75 5.43457 22.075 4.75957 21.25 4.75957ZM7.75 10.2596C10.625 10.2596 12.975 12.4596 13.225 15.2596H2.275C2.525 12.4596 4.875 10.2596 7.75 10.2596ZM13.25 21.2596C13.25 21.8096 12.8 22.2596 12.25 22.2596H3.25C2.7 22.2596 2.25 21.8096 2.25 21.2596V19.2596H3L4.35 21.0596C4.425 21.1596 4.55 21.2346 4.675 21.2596C4.7 21.2596 4.725 21.2596 4.725 21.2596C4.85 21.2596 4.95 21.2096 5.025 21.1596L7.4 19.2596H13.25V21.2596ZM4.25 19.2596H5.825L4.85 20.0346L4.25 19.2596ZM13.25 18.2596H2.25C1.7 18.2596 1.25 17.8096 1.25 17.2596C1.25 16.7096 1.7 16.2596 2.25 16.2596H13.25C13.8 16.2596 14.25 16.7096 14.25 17.2596C14.25 17.8096 13.8 18.2596 13.25 18.2596ZM19.1 21.8096C19.075 22.0596 18.85 22.2596 18.6 22.2596H14C14.175 21.9596 14.25 21.6346 14.25 21.2846V19.0096C14.45 18.8846 14.625 18.7346 14.775 18.5596C15.075 18.7096 15.4 18.7846 15.75 18.7846C16.775 18.7846 17.675 18.1096 18.175 17.0346H19.65L19.1 21.8096ZM19.75 16.0096H17.8C17.575 16.0096 17.4 16.1346 17.325 16.3596C17.05 17.2096 16.425 17.7596 15.75 17.7596C15.575 17.7596 15.375 17.7096 15.2 17.6346C15.225 17.5096 15.25 17.3846 15.25 17.2596C15.25 16.5096 14.85 15.8846 14.25 15.5346C14.2 14.0096 13.6 12.6096 12.675 11.5096H13.9C14.075 11.5096 14.25 11.4096 14.35 11.2596C14.675 10.6346 15.2 10.2596 15.775 10.2596C16.35 10.2596 16.85 10.6346 17.2 11.2596C17.3 11.4096 17.45 11.5096 17.65 11.5096H20.3L19.75 16.0096ZM20.375 10.5096H17.875C17.35 9.70957 16.575 9.25957 15.725 9.25957C14.875 9.25957 14.1 9.70957 13.575 10.5096H11.55C11.4 10.3846 11.225 10.2846 11.05 10.1846L10.8 7.75957H20.675L20.375 10.5096ZM21.75 6.75957H21.375C21.325 6.75957 21.3 6.75957 21.25 6.75957H10.25C10.2 6.75957 10.175 6.75957 10.125 6.78457H9.75V6.28457C9.75 6.00957 9.975 5.78457 10.25 5.78457H21.25C21.525 5.78457 21.75 6.00957 21.75 6.28457V6.75957Z"
            fill="#333333"
          />
        </svg>

        <span>Our Combos</span>
      </a>
    </li>
  </nav>
</aside>
